
<!-- ##################   THIS IS THE LOGIN PAGE ################## -->

<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		$("#myModal").modal('show');
	});
</script>
</head>

<body style="background-color:#70d370">
    
<div id="myModal" class="modal fade" data-keyboard="true" data-backdrop = "static" >
    <div class="modal-dialog modal-sm" >
        <div class="modal-content">
            <div class="modal-header"> 
            <div class="modal-title">Welcome to THIMUN O-MUN</div>
            </div>
            <div class="modal-body">
               <%= form_tag '/login' do %>
                    
              
                      <h3>Email</h3> <%= text_field_tag :email %>
                      <h3>Password</h3> <%= password_field_tag :password %>
                       <div class="row" style="margin-left:200px;margin-top:30px;"><%= submit_tag "Login", class: "btn btn-default" %> </div>
                
               
                      
              
                
                <% end %>


            </div>

        </div>
    </div>
</div>

</body>