<div class="row">
  <div class="col-lg-6" style="padding-left:30px;">
<%= simple_form_for(@blog) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :body, :input_html => {:rows => 8} %>
    <%= f.input :show_info, label: "Show Author Info"%>
    <%= f.input :picture,   as: :file, label: "Thumbnail (optional)", wrapper_html: { id: 'pictureInput' } %>
    <div id="target" style="width:600px;height:200px;"></div>

  </div>
  
  
  <div class= "row">
    <div class="col-lg-2">
      <div class="form-actions">
        <%= f.button :submit, "Apply Changes" %>
      </div>
    </div>
    
    <div class="col-lg-1">
      <% if Blog.exists?(params[:id]) %>
      <%= link_to 'Cancel', blog_path, class: "btn btn-danger", :style => "color:white;" %>
      <% else %>
      <%= link_to 'Cancel', blogs_path, class: "btn btn-danger", :style => "color:white;" %>
      <% end %>
    </div>
  </div>
  </div>
</div>
<% end %>






<script>
  $(function() {
  $('#pictureInput').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    // here's the file size
    console.log(image.size);
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      console.log(file);
      img.src = file.target.result;
      img.height = 200;
      $('#target').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});
</script>