  <%= render "layouts/navigation"%>
     <section class="green" style="background-color:#70d370">
       
<h1 style ="margin-left:25px;margin-top:50px; margin-bottom:10px;font-size:70px;">Blog</h1>
     </section>
<p id="notice"><%= notice %></p>


    <% @blogs.reverse_each do |blog| %>

        <div class="row" style="margin-left:20px;">
            <div class="col-sm-11">
                <div class="card"  style="margin-bottom:10px;">
                  <div class="card-content">
                      <div class="row">
                      <div class="col-lg-2"> <img src="<%= blog.picture %>" style="width:200px;height:200px;"/></div>

                      <div class="col-lg-9">
                        <h3 class="card-title"><%= blog.title %>  
                        <% if (current_user && ( current_user.id == blog.user_id || current_user.priv_lvl > 1 )) %>
                        <span> <%= link_to blog, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', :style => "float:right;color:white;" do %>
                            <i class="glyphicon glyphicon-trash"></i>
                          <%end%>
                          
                          <%= link_to edit_blog_path(blog), class: 'btn btn-default', :style => "float:right;margin-right:10px;" do %>
                            <i class="glyphicon glyphicon-edit"></i>
                          <%end%>
                          <%end%>
                          </span></h3> 
                        <h5 class="card-subtitle mb-2 text-muted">by: <strong><%= User.find(blog.user_id).fname %></strong>
                        
                        <% yesterday = Time.zone.now- 1.day %>
                        <% if  blog.created_at >= Time.zone.now.beginning_of_day %>
                        , Today 
                        <% elsif blog.created_at >= yesterday.beginning_of_day && blog.created_at <= yesterday.end_of_day  %>
                        , Yesterday
                        <% else %>
                         on  <b> <%= blog.created_at.to_date %> 
                        <% end %>
                        
                        
                        </h5>
                        <p style="margin-bottom:20px;"class="card-text"><%= blog.body[0,300] %> <% if blog.body.length > 300 %> ... <%end%></p>
                        <%= link_to 'Read more...', blog %> 
                        <% if current_user %>
                        <% end %>
                        </div>
                    </div>
                  </div>
                </div>
        </div>
        
        </div>

    <% end %>


<br>
<% if current_user %>
     <div class="col-md-6"><%= link_to new_blog_path, class: 'btn btn-success', :style => "color:white;" do %>
                            <i class="glyphicon glyphicon-plus"></i> New Post
                          <%end%></div>
<% end %>