<%= render "layouts/navigation" %>
<section  style="background-image: image-url("assets/BlogBanner.png");">

</secion>
<body style="padding-left:20px;">
  
<p id="notice"><%= notice %></p>

<p>
  
  <h2 style="font-size:80px;font-weight:800;"> <%= @blog.title %> </h2>
</p>

<p style="font-size:20px;color:#e2e2e2;margin-top:15px;">
  by
  <%= User.find(@blog.user_id).fname %> <%= User.find(@blog.user_id).lname %>
  
                          <% yesterday = Time.zone.now- 1.day %>
                        <% if  @blog.created_at >= Time.zone.now.beginning_of_day %>
                        , Today 
                        <% elsif @blog.created_at >= yesterday.beginning_of_day && @blog.created_at <= yesterday.end_of_day  %>
                        , Yesterday
                        <% else %>
                         on  <b> <%= @blog.created_at.to_date %> 
                        <% end %>
</p>


<div class="row">
  <div class="col-lg-7">
<p style="margin-top:30px;font-size:1.1em;line-height:1.1em;font-weight:400;margin-bottom:50px;">
  <%= @blog.body %>
<p>
</div>
</div>

<div class="row">
  <div class="col-lg-5">
    
<% if @blog.show_info %>

        <div class="card" >
          <div class="card-content">
            <h1 class="card-title" style="margin-top:-7px;"> About the Author </h1>
            <div class="row">
              <div class="col-lg-3">
                 <img src=<%= User.find(@blog.user_id).avatar %>  class="img-circle"  width="120" height="120" style="margin-left:20px;" > </a>
              </div>
              <div class="col-lg-9" style="margin-top:20px;" >
                  <p class="card-text" style="margin-bottom:3px;"> <i class="glyphicon glyphicon-user"></i> <%= User.find(@blog.user_id).fname %> <%= User.find(@blog.user_id).lname %></p>
                  <p class="card-text" style="margin-bottom:3px;"> <i class="glyphicon glyphicon-envelope"></i> <%= User.find(@blog.user_id).email %></p>
                  <p class="card-text" style="margin-bottom:3px;"> <i class="glyphicon glyphicon-globe"></i> <%= User.find(@blog.user_id).city %> , <%= User.find(@blog.user_id).counrty %></p>
                  <p class="card-text" style="margin-bottom:3px;"> <i class="glyphicon glyphicon-briefcase"></i> <%= User.find(@blog.user_id).occupation %></p>
              </div>

            </div>

          </div>
        </div>
        
<% end %>

</div>
</div>
<div class="row" style="margin-top:20px;">
  <% if current_user && @blog.user_id = current_user.id %>
  <div class="col-lg-1"> <%= link_to edit_blog_path(@blog), class: "btn btn-default", :style => "display:block;" do %><i class="glyphicon glyphicon-edit"></i> Edit <% end %></div>
  <%end%>
  <div class="col-lg-1"> <%= link_to  blogs_path, class: "btn btn-danger", :style => "color:white;display:block;" do %> <i class="glyphicon glyphicon-chevron-left"> </i> Back<% end %></div>


</div>
</body>