<!DOCTYPE html>
<html>
<head>

  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat:600" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




 <!--grid stylesheet -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
     
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

</head>

<!--Navigation bar code statrs here -->
<%= render "layouts/navigation" %>
<!--Navigation bar code ends here -->

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide mr">
  <!-- Indicators -->
  <ol class="carousel-indicators slidem">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner cm">
    <div class="item active">
      <img src= "assets/logos/logo2.png" style="width:400px;height:400px;margin-left:50px;margin-top:-20px;"/>
      <div class="container">
        <div class="carousel-caption">
          <h1 class="top" style="font-size:65px;text-align:left;font-weight:700;margin-top:50px;margin-left:90px;font-family:  Montserrat, sans-serif;"> THIMUN Online Model United Nations</h1>
          <p  style="font-size:30px;text-align:left;margin-left:142px;margin-top:-90px;font-family:  Helvetica Neue, Helvetica, sans-serif;"> Making Model United Nations accessible for all.</p>
          <pthis is="" an="" example="" layout="" with="" carousel="" that="" uses="" the="" bootstrap="" 3="" styles.<="" small=""><p></p>
          <!-- <p>O-MUN is open to highschool students with the goal of bringing a quality Model United Nation's experience to youth around the world, and at no cost.
        </p> --></pthis></div>
      </div>
    </div>
    <div class="item">
      <%= image_tag "pic3.jpg", size: "2351x827"%>
      <div class="container">
        <div class="carousel-caption">
<h1 >Sign Up to Debate</h1>
          <p> Best Online Debating Site, Find debates and make a change</p>
          <p><button class="button" style="vertical-align:middle"><span>Sign Up </span></button></p>
        </div>
      </div>
    </div>

  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">
    <span class="icon-next"></span>
  </a>  
</div>
<!-- /.carousel -->


<body>

<div class="container">
  
  <div class="row">
    <h1 class="h1sm h1lm">How it Works</h1>
  </div>
    <div class="row">
        <fieldset class="for-panel">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-horizontal">      
<table class="h1lm">
<tr>
 <td class="h1sm w"  >1</td>
 <td class="lm">
                 <h2 class="h2sm">Register an account</h2>
                 <span class="m">You will have to wait for approval</span>
 </td>
</tr>

<tr><td><br/></td></tr>

<tr>
 <td class="h1sm" >2</td>
 <td class="lm">
                  <h2 class="h2sm">Download Blackboard  </h2>
                 <span class="m">you can use this link</span> 
 </td>
</tr>

<tr><td><br/></td></tr>

<tr>
 <td class="h1sm" >3</td>
 <td class="lm">
                  <h2 class="h2sm">Get debating  </h2>
                 <span class="m">Pick up an event and start participating</span>  
 </td>
</tr>
</table>
                      
              </div>
            </div>
            <div class="col-sm-6">
                <h1 class="h1sm m2">What's Happening</h1>
              <div class="form-horizontal">               
                  <label class="col-xs-4 control-label"> 
            <div class="col-md-3" id="event_one">
                <p id="event_date" >02</p>
                <h5 id="month">APR</h5>
            </div></label><br>
                 <div class="col-md-3" id="four">
             
              <h5>Security Council</h5>
               <p >Threats to International Peace and Security Caused by Terrorist Acts: Protection of Critical</p>
            
            </div>           
                  <label class="col-xs-4 control-label">
                    <div class="col-md-3" id="event_two">
                <p id="event_date">15</p>
                <h5 id="month">JUN</h5>
            </div>
  </label>
                 <div class="col-md-3" id="five">
        
              <h5>International Affairs Dialogue</h5>
               <p>The Question of Zimbabwe: Overcoming The National "Brain Drain" Crisis</p>
       
            </div>
                      
                             
              </div>
            </div>
          </div>
        </fieldset>
           <p class="re"><a href="/events">See more.. </a> </p>  

    </div>

</div>


<a href="/blogs"><img src="/assets/BlogBanner.png" style="width:100%;height:auto" /></a>

<br><br>

<h3>O-MUN Program Idea</h3>
<p>O-MUN is committed to democratizing this popular academic program, keeping the focus squarely on mentorship, discussion, collaboration and high academic standards. Our goal is to empower individual students anywhere in the world to act as leaders and bridge builders, to learn and connect with individuals different from themselves, to network on a global scale and to make friends in the process.</p>


</body>

<footer>
    <div class="footer" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> About Us </h3>
<p>O-MUN is open to  high school students with the goal of bringing a quality Model United Nation's experience to youth around the world, and at no cost.

O-MUN is a proud THIMUN Partner.</p>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Travel Teams </h3>
                    <p>THIMUN OMUN will be hosting one travel team this year, to THIMUN Qatar 2016.

An expression of interest form is now available.  Please complete the form, which can be found here.

Note that THIMUN OMUN does not fund student MUN trips. Eligible candidates will be emailed further information by June 30th.</p>
                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Sponsors

 </h3>
                <p>We thank the following organizations for their support in helping lay the foundation for Online Model United Nations.

</p>                </div>
                <div class="col-lg-2  col-md-2 col-sm-4 col-xs-6">
                    <h3> Our Tweets </h3>
                   <p>Hello delegates! The first International Affairs Dialogue of 2017 on "The Question of Sri Lanka: Promoting Ethnic... https://t.co/JMaZ1DHClt — 3 months 4 days ago
</p>
                </div>
                <div class="col-lg-3  col-md-3 col-sm-6 col-xs-12 ">
                    <h3> Contact </h3>
                    <ul>
                        <li>
                            <div class="input-append newsletter-box text-center">
                                <input type="text" class="full text-center" placeholder="Email ">
                                <button class="btn  bg-gray" type="button"> Find email <i class="fa fa-long-arrow-right"> </i> </button>
                            </div>
                        </li>
                    </ul>
                    <ul class="social">
                        <li> <a href="https://www.facebook.com/onlinemun"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="https://twitter.com/onlinemun"> <i class="fa fa-twitter">   </i> </a> </li>
          
                        <li> <a href="https://www.youtube.com/user/onlinemodelUN"> <i class="fa fa-youtube">   </i> </a> </li>
                    </ul>
                </div>
            </div>
            <!--/.row--> 
        </div>
        <!--/.container--> 
    </div>
    <!--/.footer-->
    
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left"> Copyright © Footer 2014. All right reserved. </p>
        

      </div>
       
       </div>
</footer>




</html>

