<div class="row">
  <div class="col-lg-6" style="padding-left:30px;">
<%= simple_form_for(@user) do |f| %>
  <%= f.error_notification %>


  <div class="form-inputs">
    
    
    <div class="panel panel-default" >
    <div class="panel-heading" ><h4 >General Information</h4></div>
    <div class="panel-body">
      

    <%= f.input :fname, label: 'First Name' %>
    <%= f.input :lname, label: 'Last Name' %>
    <%= f.input :password, label: 'Password', placeholder: 'Don\'t share your password with anyone!' %>
    <%= f.input :password_confirmation, label: 'Password Confirmation' %> 
    <%= f.input :email %> 
    <%= f.input :school %>
    <%= f.input :counrty, label: 'Country' %>
    <%= f.input :city %>
    <%= f.input :occupation %>
    <% if params[:action] == "edit" %>
    <h3> Current Image </h3>
      <img src="<%= @user.avatar %>" style ="width:200px;height:200px;" />
    <% end %>
    <%= f.input :avatar, as: :file, wrapper_html: { id: 'pictureInput' } %>
    <div id="target" style="width:200px;height:200px;"></div>
    <div class="row">
      <div class="col-lg-5">
        <%= f.input :debate_experience, label: 'Has previous debate experience' %>
      </div>
      <div class="col-lg-4">
        <%= f.input :familiar, label: 'Familiar with THIMUN' %>
      </div>
    </div>
    
    </div>
    </div>
    
    <% if current_user && current_user.priv_lvl >1  %>
    <div class="panel panel-default" >
    <div class="panel-heading" ><h4 >Administrative Options</h4></div>
    <div class="panel-body">
      
    
    <% if current_user.priv_lvl == 3  %>
     <%= f.input :priv_lvl, label: 'Privilage Level', collection: [["Basic Member",1],["Content Adminstrator",2],["Full Adminstrator",3]] %>
    <% end%>
     <%= f.input :active, label: 'Status',collection: [["Active",true],["Blocked",false]] %>
     <%= f.input :rcv_emails, label: 'Include in the mailing list' %>

    </div>
    
  </div>
      <% end %>
  </div>
  <div class ="row">
    <div class = "col-lg-2">
  <div class="form-actions">
    <%= f.button :submit , "Sign Up" %>
  </div>
  </div>
      <div class = "col-lg-1">
    <%= link_to 'Cancel', :root, class: "btn btn-danger", :style => "color:white;" %>
    </div>
  </div>
<% end %>
</div>
</div>

<script>
  $(function() {
  $('#pictureInput').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    // here's the file size
    console.log(image.size);
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      console.log(file);
      img.src = file.target.result;
      img.height = 200;
      $('#target').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});
</script>