<table class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>School</th>
      <th>Counrty</th>
      <th>Occupation</th>
      <th>Privilage Level</th>
      <th colspan="2"> Management Options</th>
    </tr>
  </thead>

  <tbody>
    <% @users.where(:priv_lvl => 0).each  do |user| %>
      <tr>
        <td><%= user.fname %></td>
        <td><%= user.lname %></td>
        <td><%= user.school %></td>
        <td><%= user.counrty %></td>
        <td><%= user.occupation %></td>
        <td>
            Pending Approval
        </td>

        <td><%= link_to 'Approve', approve_user_path(user), class: "btn btn-success", :style => "color:white;" %> <%= link_to 'Reject', user, class: "btn btn-danger", :style => "margin-left:20px;color:white;", method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>