<table class="table table-hover">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>School</th>
      <th>Counrty</th>
      <th>Occupation</th>
      <th>Privilage Level</th>
      <th>Status</th>
      <th colspan="3"> Management Options</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each  do |user| %>
      <tr>
        <td><%= user.fname %></td>
        <td><%= user.lname %></td>
        <td><%= user.school %></td>
        <td><%= user.counrty %></td>
        <td><%= user.occupation %></td>
        <td>
          <% if user.priv_lvl ==1 %>
            Basic Member
          <% elsif user.priv_lvl ==2 %>
            Content Administrator
          <% else %>
            Full Administrator
          <%end%>
          </td>
        <td><% if user.active %>
        <strong style="color:green;"> Active </strong>
        <% else %>
        <strong style="color:red;"> Blocked </strong>
        <% end%>
        </td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>