  <%= render "layouts/navigation"%>
<section class="black" style="margin-bottom:20px;margin-top:50px;">
<h1 style="padding-left:15px;">Editing User Profile</h1>
</section>
<%= render 'form' %>
<div class="row">
    <div class="col-lg-4"></div>
        <div class="col-lg-6">
<%= link_to 'Back to Users', users_path,  class: "btn btn-default" %> 
<%= link_to 'Cancel', @user, class: "btn btn-danger", :style => "color:white;" %>
</div>

</div>