  <%= render "layouts/navigation"%>
     <section class="black" style="margin-top:50px;">
       
<h2 style="padding-left:20px;">Manage Users</h2>
     </section>
     

    <div class="bs-example">
        <ul class="nav nav-tabs" >
            <li class="active"><a data-toggle="tab" href="#Current"> Current</a></li>
            <li><a data-toggle="tab" href="#Pending">Pending (<%=  @users.where(:priv_lvl => 0).count %>)</a></li>
        </ul>
        <div class="tab-content">
            
            <div id="Current" class="tab-pane fade in active" >
                
                <%= render "tablecurrent"%>
                
            </div>
          
            <div id="Pending" class="tab-pane fade">
                <%= render "tablepending"%>
            </div>
            
        </div>
    </div>
    
<p id="notice"><%= notice %></p>

<br>


     <div class="col-md-6"><%= link_to new_user_path, class: 'btn btn-success', :style => "color:white;" do %>
                            <i class="glyphicon glyphicon-plus"></i> Add
                          <%end%></div>

