  <%= render "layouts/navigation"%>
 <!-- style="background:url(<%= @user.avatar%>);background-size:cover;" -->
 <section class="green" >
   <div class="row">
      <div class = "col-lg-2">
       <img src=<%= @user.avatar %>   data-toggle="tooltip" title="Edit Profile Picture" class="img-circle"  width="220" height="220" style="margin-left:20px;" > </a>
     </div>
     <div class = "col-lg-10">
       <h2 style ="padding-left:15px;margin-top:85px;font-size:55px;font-weight:bold;"><%= @user.fname %> <%= @user.lname %><span style="font-weight:400;">'s Profile </span> </h2>
     </div>
 </div>
 </section>
 
<p id="notice"><%= notice %></p>

<div style="padding-left:15px;">
<p>
  <strong>Email</strong>
  <%= @user.email %>
</p>

<p>
  <strong>School</strong>
  <%= @user.school %>
</p>

<p>
  <strong>City</strong>
  <%= @user.city %>
</p>

<p>
  <strong>Country</strong>
  <%= @user.counrty %>
</p>

<p>
  <strong>Occupation</strong>
  <%= @user.occupation %>
</p>

<p>
  <strong>Previous Debate Experience?</strong>
    <% if @user.debate_experience %>
    Yes
    <% else%>
    No
  <% end %>
</p>

<p>
  <strong>Familiar With THIMUN?</strong>
  <% if @user.familiar %>
    Yes
    <% else%>
    No
  <% end %>
</p>

<p>
  <strong>Privilage Level</strong>
  <% if @user.priv_lvl == 0 %>
    Pending
  <% elsif @user.priv_lvl ==1 %>
    Basic Member
  <% elsif @user.priv_lvl ==2 %>
    Content Administrator
  <% else %>
    Full Administrator
  <%end%>
</p>

<p>
  <strong>Active?</strong>
    <% if @user.familiar %>
    Yes
    <% else%>
    No
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>