<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @attendee.user_id %>
</p>

<p>
  <strong>Event:</strong>
  <%= @attendee.event_id %>
</p>

<%= link_to 'Edit', edit_attendee_path(@attendee) %> |
<%= link_to 'Back', attendees_path %>
