<%= simple_form_for(@event) do |f| %>
  <%= f.error_notification %>
 
  <div style="padding-top:10px;"></div>
  <div class="form-inputs">
        <div class="row">
    <div class="col-lg-6">
    <h3> Starts..</h3>
    <%= f.input :start_time, label: false %>
    
    </div>
    <div class="col-lg-6">
    <h3> Ends..</h3>
    <%= f.input :end_time, label: false %>
    <strong style="color:grey;"> <i class="glyphicon glyphicon-time"></i>  All event times are in <a href="http://www.thetimezoneconverter.com/" target="_blank"> UTC </a> </strong>
    </div>
    
    </div>
    
    <div style="margin-bottom:30px;"></div>
    <%= f.input :name, label: "Event Name" %>
    <%= f.input :topic, label: "Event Topic" %>
    <%= f.input :commitee, label: "Commitee" %>
    <%= f.input :rgstr_end, label: " Registration Ends at.." %>
    <div style="margin-bottom:50px"></div>
    <%= f.input :addtnl_info,  label: false, placeholder: "Additional Info" %>
    



  </div>
  
  <div class="row" style="padding-bottom:50px;padding-top:40px;">
    <div class="col-lg-2">
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
  </div>
  <%= link_to 'Cancel', events_path, class: "btn btn-danger", style: "color:white" %>
  </div>
<% end %>
 