<script type="text/javascript" src="date_time.js"></script>
<%= render "layouts/navigation" %>
<p id="notice"><%= notice %></p>
<br>

<!-- <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>User</th>
      <th>Topic</th>
      <th>Commitee</th>
      <th>Rgstr end</th>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.user_id %></td>
        <td><%= event.topic %></td>
        <td><%= event.commitee %></td>
        <td><%= event.rgstr_end %></td>
        <td><%= event.start_time %></td>
        <td><%= event.end_time %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br>



<br>
<!-- ########################## Calendar ############################# -->

<div class="row">
<div class="col-lg-9">
<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
  <% events.each do |event| %>
    <div>
      <%= link_to event.name, event %>
    </div>
  <% end %>
<% end %>
</div>

<!-- ########################## Side Event List ############################# -->

<div class="col-lg-3">
  <h2 >Current Events</h2>
<table class="table ">
  <thead>
    <tr>
      <th>Name</th>
      <th>Starts</th>
    </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td> <%= link_to  event.name, event %></td>
        <% if current_user %>
          <% if Attendee.find_by(user_id: current_user.id, event_id: event.id)%>
          <td><strong style="color:green;"><%= event.start_time %></strong></td>
          <% else %>
          <td><strong><%= event.start_time %></strong></td> 
          <% end %>
        <%else %>
          <td><strong><%= event.start_time %></strong></td>          
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add Event", new_event_path, class: "btn btn-success", style: "color:white;"%>

</div>

</div>

<!--footer start from here-->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6 footerleft ">
        <div class="logofooter"> About US</div>
        <p>O-MUN is open to  high school students with the goal of bringing a quality Model United Nation's experience to youth around the world, and at no cost. 
        <br>
        </br>O-MUN is a proud THIMUN Partner.</p>
        <p><i class="fa fa-map-pin"></i> 210, Aggarwal Tower, Rohini sec 9, New Delhi -        110085, INDIA</p>
        <p><i class="fa fa-phone"></i> Phone (India) : +91 9999 878 398</p>
        <p><i class="fa fa-envelope"></i> E-mail : info@webenlance.com</p>
        
      </div>
      <div class="col-md-4 col-sm-6 footerleft ">
        <h6 class="heading7">Travel Teams</h6>
        <p>THIMUN OMUN will be hosting one travel team this year, to THIMUN Qatar 2016.<br></br>
        An expression of interest form is now available.  Please complete the form, which can be found here.<br></br>
        Note that THIMUN OMUN does not fund student MUN trips. Eligible candidates will be emailed further information by June 30th.</p>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <h6 class="heading7">LATEST POST</h6>
        <div class="post">          
            <blockquote cite="https://twitter.com/onlinemun"><a href="https://twitter.com/onlinemun"><div class="color"> Twitter </div></a></blockquote>
         
          <p>Hello delegates! The first International Affairs Dialogue of 2017 on "The Question of Sri Lanka: Promoting Ethnic... https://t.co/JMaZ1DHCl <span>August 3,2015</span></p>
          <p>Anmol shares his thoughts on his passion for MUN, something many O-MUN delegates relate to! https://t.co/SoHzYoYFBn  <span>August 3,2015</span></p>
          <p>Happening now: our MUN workshop is starting in the General Assembly room! #MUN101 https://t.co/wEWgW5fDq7 <span>August 3,2015</span></p>
        </div>
      </div>
      <div class="col-md-3 col-sm-6 paddingtop-bottom">
        <div class="fb-page" data-href="https://www.facebook.com/facebook" data-tabs="timeline" data-height="300" data-small-header="false" style="margin-bottom:15px;" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
        </div>
      </div>
    </div>
  </div>
</footer>
<!--footer start from here-->

<div class="copyright">
  <div class="container">
    <div class="col-md-6">
      <p>© 2016 - All Rights with Webenlance</p>
    </div>
    <div class="col-md-6">
      <ul class="bottom_ul">
        <li><a href="#">webenlance.com</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Faq's</a></li>
        <li><a href="#">Contact us</a></li>

      </ul>
    </div>
  </div>
</div>

<script>
  function date_time(id)
{
        date = new Date;
        year = date.getFullYear();
        month = date.getMonth();
        months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'Jully', 'August', 'September', 'October', 'November', 'December');
        d = date.getDate();
        day = date.getDay();
        days = new Array('Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday');
        h = date.getHours();
        if(h<10)
        {
                h = "0"+h;
        }
        m = date.getMinutes();
        if(m<10)
        {
                m = "0"+m;
        }
        s = date.getSeconds();
        if(s<10)
        {
                s = "0"+s;
        }
        result = ''+days[day]+' '+months[month]+' '+d+' '+year+' '+h+':'+m+':'+s;
        document.getElementById(id).innerHTML = result;
        setTimeout('date_time("'+id+'");','1000');
        return true;
}
</script>