<%= render "layouts/navigation" %>
<section class="green" style="padding-bottom:30px;">
<h1 style="padding-top:50px;padding-bottom:20px;color:white;padding-left:10px;font-size:50px;">New Event</h1>
</section>

<div class="col-lg-9">
<%= render 'form' %>
</div>

