<%= render "layouts/navigation" %>
<p id="notice"><%= notice %></p>
<body style="padding-left:20px;">
  
<div class="row" style="margin-bottom:40px;margin-top:40px;">
  <div class="col-lg-9">
    <!-- Edit Event Option For Admins -->
  
    <% if current_user && current_user.priv_lvl > 1 %>
    <div class="col-lg-10">
    <%= link_to  edit_event_path(@event), class: "btn btn-block btn-default", style: "padding:8px;margin-top:20px;"  do %> <i class="glyphicon glyphicon-edit" ></i> Edit<%end%>
    </div>
    <div class="col-lg-1">
    <%= link_to  @event, method: :delete, class: "btn btn-block btn-danger",  data: { confirm: 'Are you sure you want to delete this event ? This action can\'t be reversed. ' }, style: "padding:8px;margin-top:20px;color:white;"  do %> <i class="glyphicon glyphicon-trash" ></i><%end%>
    </div>
    <% end %>
    
    <% if current_user && Attendee.find_by(user_id: current_user.id, event_id: @event.id) %>
    <h1 style="font-size:100px; color:#4dd15c;" ><strong data-toggle="tooltip" title="You're Attending this Event!" data-placement="right"><%= @event.name %></strong></h1> 
    <% else %>
    <h1 style="font-size:100px;"><strong><%= @event.name %></strong></h1> 
    <% end %>
    <p style="color:#dddddd;font-size:20px;">
      <strong>by </strong>
      <%= User.find(@event.user_id).fname %>   <%= User.find(@event.user_id).lname %>
    </p>
    
  </div>

</div>

<div class="row">
    <div class="col-lg-6">
      <h2>
        <%= @event.topic %>
      </h2>
    
      <h3>
        <%= @event.commitee %>
      </h3>
    
      <p> <%= @event.addtnl_info %> </p>
      <p>
      <strong>Registration Ends:</strong>
      <%= @event.rgstr_end %>
      </p>
      <hr>
      <div class="col-lg-6">
      <!-- ######### Attendees #######-->
       <% attendee_count = 0%>
       <% @attendees = Attendee.where(:event_id => @event.id)%>
                    <% @attendees.each do |attendee| %>
                      <% attendee_count += 1 %>
                    <%end%>
                
  
      <h3>   <% if attendee_count == 1%>
    <h3 style="margin-left:-17px;"> 1 Attendee </h3>
  <%else%>
  <h3 style="margin-left:-17px;"> <%= attendee_count %> Attendees</h3>
  <%end%> 
  <div id="attends" class="collapse">
              <table class="table table-hover">
  
                  <% @attendees.each do |attendee| %>
                    <tr>
                      <td> <%= User.find(attendee.user_id).fname %>  <%=User.find(attendee.user_id).lname %> </td>
                      <!-- Country -->
                    </tr>
                  <% end %>
  
              </table>
        
        
      </div>
      
  </div>
  <div class ="col-lg-5">
    <div style="float:right;">
    <% if attendee_count != 0%>
    <%= link_to  event_path(format: :xlsx), class: "btn btn-success", :style => "color:white;margin-top:15px;" do %> <i class="glyphicon glyphicon-download-alt" data-toggle="tooltip" title="Download Attendees List" ></i> <%end%>
    <a class ="btn btn-primary" style="color:white;margin-top:15px;" data-toggle="collapse" data-target="#attends"> Show/Hide </a>
    <% end %>
    </div>
    </div>
    </div>
    
    
    <div class="col-lg-5"> 
        <p>
        <h3><strong>Starts</strong></h3>
        <%= @event.start_time %>
      </p>
      
      <p>
        <h3><strong>Ends</strong></h3>
        <%= @event.end_time %>
      </p>
      <p>
        <% if current_user %>
      <% if !Attendee.find_by(user_id: current_user.id, event_id: @event.id)%>
        <p style="color:#d3d3d3;"> You're not attending this event</p>
        <%= bootstrap_form_tag url: attend_event_path do |f| %>
            <%= f.submit "Attend", class: "btn btn-success", style: "padding:8px;color:white;" %>      
        <% end %>
      <% else%>
        <%= bootstrap_form_tag url: leave_event_path do |f| %>
            <p style="color:#adfc7b;"> You are attending this event</p>
            <%= f.submit "Leave", class: "btn btn-danger", style: "padding:8px;color:white;" %>      
        <% end %>
      <% end %>
    <% else %>
      <p> Sign in to attend this event ! </p>
    <% end %>
      </p>
      
    </div>

</div>

<div class="row" style="margin-top:15px;">
  <div class="col-lg-2" style=";"> </div>
  <div class="col-lg-2">  </div>
  <div class="col-lg-2">
   
  </div>

</div>

<div class="row" style="margin-top:70px;">
  <div class="col-lg-2" style=";"> <%= link_to 'Back', events_path, class: "btn btn-block btn-default", style: "padding:8px;"  %> </div>
 


</div>
</body>

<!-- Tool Tip -->
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();   
});
</script>