<html>
<head>
<%= render "layouts/navigation" %>
</head>
<div class="wrap">
<div class="wrap">

  <%= render "layouts/sidenav" %>
  
  <!--Body content-->
  <div class="content">
    <div class="top-bar">       
      <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>      
    </div>
    <section class="content-inner">
      <h3 id="pagetitle">Welcome to the THIMUN O-MUN Advisory Panel Debate

</h3>
      <p id="resources_paragraphs">Topic: The promotion of religious diversity and intercultural education in the Near East Region (THIMUN - H)<br><br>

Date: 27 May 2017<br><br>

Time: 13:00 UTC<br><br>

For a personalized timezone converter, click here.<br><br>

Registration: To register for this debate, click HERE. You must be logged into the website to access the registration form. Please note that not all countries on the list will be used for APQ, so please choose one from the document below.<br><br>

Deadline for Submitting Clauses:  Since there will be no lobbying and merging session we require all delegates to submit their clauses to AD Ilya Bañares at i.banares@onlinemodelun.org five days prior to the debate.<br><br>

For more information please contact any of the following members of Debate Team 4:<br><br>

Assistant Director: Ilya Bañares<br><br>

Deputy Secretary General: Alice Hu<br><br>

EAO of Qatar: Ishan Sanjeev Upadhyay<br><br>

Moderating Team:<br><br>

Chair: TBA<br>
Amendments Moderator: TBA<br>
Tally Moderator: TBA
 </p>
    </section>
  </div>  
  
</div>
</html>