<html>
<head>
<%= render "layouts/navigation" %>
</head>
<div class="wrap">
<div class="wrap">

  <%= render "layouts/sidenav" %>




  
  <!--Body content-->
  <div class="content">
    <div class="top-bar">       
      <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>      
    </div>
    <section class="content-inner">
      <h3 id="pagetitle">Welcome to THIMUN O-MUN General Assembly</h3>
      <p id="resources_paragraphs">Topic:   Targeting the rise of xenophobia and populist movements<br><br>

Sub-Committee: GA3 - SOCHUM<br><br>

Date:   Aoril 2, 2017<br><br>

Time: 13:00 UTC. For your local time, please check the time zone converter, <a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=OMUN+General+Assembly+April+Debate&iso=20170402T13&p1=%3A">click here</a>.<br><br>

Registration: To register for this debate, click here! Note that you must be logged into the website to access the registration form.<br><br>

For more information please contact any of the following members of Debate Team 1 :---<br>

Assistant Director (Lead): Robin De Zeeuw<br><br>

Assistant Director: R Haricharan<br><br>

Deputy Secretary General: Navya Mehta<br><br>

EAO of Japan: Jessica Yoon<br><br>

EAO of United Arab Emirates: Aditya Rathi<br><br>

 

Moderating Team:<br><br>

Chair: TBA<br><br>
Deputy Chair: TBA<br><br>
Amendments Moderator: TBA<br><br>
Tally Moderator: TBA
 </p>
    </section>
  </div>  
  
</div>
</html>