<html>
    <body>
        
        <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
   
<br><br><br>
        <!--Navigation bar code ends here -->
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Commonly Used Terms</p>
             </link>
            

           <p id="contentpara"> 
            
                <h3 class="heading3">Terms Used in MUN Debates</h3></br>
                
                <h4 class="heading4">The Chair</h4>
                
                <p id="contentpara">The Chair’s role is to conduct the debate by overseeing the procedure and maintaining order while remaining totally impartial. This role is carried out by the President in the more important forums, e.g the General Assembly, the Security Council.</pr>
                
                <h4 class="heading4">The House/Assembly/Forum</h4>
                <p id="contentpara">All participants in the debate except the Chair.</p>
                
                <h4 class="heading4">Submitter</h4>
                <p id="contentpara">The delegate presenting a draft resolution for debate. A draft resolution may have a main submitter and several co-submitters</p>
                
                <h4 class="heading4">Motion</h4>
                <p id="contentpara">The subject currently under debate or question e.g. the draft resolution as a whole, an amendment, or a procedural motion such as calling for an adjournment or closure of debate</p>
                
                <h4 class="heading4">A resolution</h4>
                <p id="contentpara">In its draft form, a resolution is a long, complex motion, or series of motions, for debate. Once it has been voted on and adopted, it becomes the decision and policy of the forum which has debated it.</p>
                
                <h4 class="heading4">To have the floor</h4>
                <p id="contentpara">To have been given the right to speak in debate before the house.</p>
                
                <h4 class="heading4"> To yield the floor</h4>
                <p id="contentpara">To give up the right to speak either temporarily when yielding to a point of information or permanently at the conclusion of one's speech.</p>
                
                <h4 class="heading4">A point of information</h4>
                <p id="contentpara">A question directed either to the speaker who has the floor or to the Chair by a delegate after having been duly recognized by the Chair.</p>
                
                <h4 class="heading4">A point of order</h4>
                <p id="contentpara">A question directed to the Chair by a delegate who feels that a mistake has been made in the order of debate or who requires clarification of the rules of procedure.</p>
                
                <h4 class="heading4">A point of personal privilege</h4>
                <p id="contentpara">A question referring to the comfort and well-being of the delegate or delegates; in the case of O-MUN referring to audibility only and signified by the confused face emoticon.</p>
                
                <h4 class="heading4">Amendment</h4>
                
                <p id="contentpara">A change to the original draft resolution</p>
                
                <h4 class="heading4">Amendment to the Second Degree</h4>
                
                <p id="contentpara">An amendment to an amendment.</p>
                
                <h4 class="heading4">Moving the Previous Question</h4>
                <p id="contentpara">Calls for the closure of debate and a vote to be taken on the resolution or amendment pending</p>
                
                <h4 class="heading4">Division of the House</h4> 
                <p id="contentpara">Roll call vote, only used in cases where the result of the original vote is in doubt, during which delegates respond to the calling our of their delegation's name by stating clearly how they voted, i.e. FOR, AGAINST or ABSTAIN</p>
                
                
                
                <h3 class="heading3">Terms SPECIFIC TO O-MUN</h3></br>
                
                <h4 class="heading4">THIMUN O-MUN Director</h4>
                <p id="contentpara">The principal organizer of the online debate who selects the issue for debate, appoints the Moderators and Chairs and oversees the smooth running of the debate. The Director may be assisted or substituted by an Assistant Director.</p>
                
                <h4 class="heading4">Moderators</h4>
                <p id="contentpara">The Moderators have specific functions during the course of the debate e.g.</p>
                  <ul id="listpara">
                    <li>Amendments Moderator -scrutinizes and posts proposed amendments</li>
                    <li>Chat Moderator- screens and controls the note-passing in the chat box</li>
                    <li>Tally Moderator- checks attendance and voting</li>
                  </ul>
                
                
                
                <h4 class="heading4">Emoticons</h4>
                
                 <p id="contentpara">Emoticons are like ‘shout outs’ and are meant to replace verbal communication. Therefore, unless you have the floor, the use of emoticons is generally out of order. If delegates applaud or use a smiley face emoticon during the course of the debate, they will be called out of order. The smiley face emoticon may be used when instructed by the chair, such as to reply to the question “Can delegates please let the chair know if they can hear the speaker clearly. Please give me a smiley face”.</p>
                
                <ul id="listpara">
                    <li>Applause -may not be used except on the instruction by the Chair</li>
                    <li>Confused Face- signifies a problem with audibility and may interrupt proceedings</li>
                    <li>Thumbs down- is always out of order and may not be used at any time in an O-MUN debate</li>
                    <li>Smiley Face- only to be used on the instruction by the Chair</li>
                </ul>


                
                <h4 class="heading4">Note Passing</h4>
                
                <p id="contentpara">During the debate, delegates will be able to send notes to each other and to the Moderators via the chat box function. All notes are moderated and archived. Note passing will be monitored by the dedicated Moderator and the O-MUN Director/Assistant Director in attendance. Notes may be passed to the moderators at any time. If a delegate’s question or request is not immediately acknowledged, the note should be sent again beginning with the word: "Second” (Example: “Second. Is it in order to submit an amendment at this time?”). Note passing will be suspended during roll call, voting, and at the discretion of the Chair.</p>
                
                <h4 class="heading4">Useful Phrases to be used by members of the house<h4></br>
                
                <table cellpadding="5" cellspacing="5">
                    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
                	<tbody>
                		<tr>
                			<td>
                			When starting to speak
                			</td>
                			<td>
                			Mr./Madam Chairman...
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When asking for permission to speak
                			</td>
                			<td>
                			(The delegate of___) requests the floor
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When beginning a speech
                			</td>
                			<td>
                			Albania wishes to speak in favor of/against this motion/resolution/amendment because...
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When wishing to ask a question
                			</td>
                			<td>
                			The delegate rises to a point of information/point of order
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When asking a question
                			</td>
                			<td>
                			Is the Chair/the speaker (not) aware that..
                
                			Does the speaker (not) agree that..
                
                			The speaker stated in his speech...Does the delegate of China (not) realize that...
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When pausing to answer questions
                			</td>
                			<td>
                			This delegate is open to points of information
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When moving an amendment
                			</td>
                			<td>
                			Zambia moves to amend the resolution by striking/inserting/adding the words...
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When concluding a speech
                			</td>
                			<td>
                			Ecuador urges the assembly to vote for/against this motion...
                			</td>
                		</tr>
                		<tr>
                			<td>
                			At the end of a speech
                			</td>
                			<td>
                			I yield the floor to the Chair/to the delegate of..., (or if requested by the Chair) Floor yielded
                			</td>
                		</tr>
                		<tr>
                			<td>
                			
                			</td>
                			<td>
                			
                			</td>
                		</tr>
                	</tbody>
                	</link>
                </table>
                
                <h4>Useful Phrases to be used by the Chair</h4></br>
                
                <table cellpadding="5" cellspacing="5">
                	<tbody>
                		<tr>
                			<td>
                			When asking the house to be quiet
                			</td>
                			<td>
                			The house will come to order.
                
                			Will the house please come to order!
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When starting the debate
                			</td>
                			<td>
                			The Chair calls upon the main submitter to read the operative clauses to the house.
                
                			The house has heard the motion.Is there a second?
                
                			The Chair sets a debate time of 20 minutes open debate/
                
                			10 minutes for and 10 minutes against the motion.
                
                			The delegate of France/the main submitter has the floor.
                
                			All points are out of order until the delegate has finished speaking.
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When recognizing someone to speak
                			</td>
                			<td>
                			The Chair recognizes the delegate of Russia. To what point do you rise?
                
                			Please rise and state your point (of information/order).
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When the question is not clearly stated
                			</td>
                			<td>
                			Please state your point in the form of a question.
                
                			The speaker appears not to have heard/ understood your question. Will you please repeat/rephrase your question.
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When asking for further points
                			</td>
                			<td>
                			Are there any further points on the floor? Are there any further points of information to this speaker?
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When dealing with a point of order
                			</td>
                			<td>
                			There’s a point of order on the floor. Please rise and state your point.
                
                			Your point is (not) well taken.
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When asking a speaker to conclude his speech
                			</td>
                			<td>
                			Will the speaker please make his concluding remarks.
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When concluding debate time
                			</td>
                			<td>
                			Debate time for/against the motion/the amendment has been exhausted/has expired.
                
                			Debate time has expired. Will the speaker please yield the floor.
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When extending debate time
                			</td>
                			<td>
                			The Chair proposes an extension of debate time by 5 minutes for and 5 minutes against the motion.
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When concluding debate and moving to the vote
                			</td>
                			<td>
                			The debate is now closed. We will move into voting procedures. All points are out of order.
                			</td>
                		</tr>
                		<tr>
                			<td>
                			If there is a point of order during voting
                			</td>
                			<td>
                			Does your point of order pertain to the conduct of the voting?
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When conducting the vote
                			</td>
                			<td>
                			The motion will now be put to the vote.
                
                			Will all those in favor of the motion/the amendment/the resolution please raise their placard.
                
                			Will all those opposed to/against the resolution please raise their placard.
                
                			Are there any abstentions?/ Will all those abstaining please raise their placard.
                			</td>
                		</tr>
                		<tr>
                			<td>
                			When announcing the result
                			</td>
                			<td>
                			The motion /amendment has been carried/passed by X votes to Y with Z abstentions.
                
                			The motion/ amendment has failed/been defeated by Y votes to X with Z abstentions.
                			</td>
                		</tr>
                	</tbody>
                </table>
                
                <h4 class="heading4">ABBREVIATIONS</h4>
                
                <p id="contentpara">SG Secretary General
                
                DSG Deputy Secretary General
                
                GA General Assembly
                
                IGO Inter-Governmental Organization
                
                ICJ International Court of Justice
                
                MICJ Model International Court of Justice
                
                MUN Model United Nations
                
                PDC President of the Disarmament Commission
                
                PEC President of the Environment Commission
                
                PECOSOC President of the Economic and Social Council
                
                PGA President of the General Assembly
                
                PHRC President of the Human Rights Council
                
                PICJ President of the International Court of Justice
                
                PSC President of the Security Council
                
                THIMUN The Hague International Model United Nations
                
                UN United Nations</p>

            

   











          
        </link>
    </body>
   
    
    
    
</html>