<% content_for :title do %>About<% end %>

<%= image_tag("logos/logo.png", width: '500px')%>
 <style type="text/css">
            html, #page { padding:0; margin:0;}
            body {  padding:0;  color:#959595; font:normal 12px/2.0em Sans-Serif;} 
            h1, h2, h3, h4, h5, h6 {color:darkblue;}
            #page { background:#eee;}
            #header, #footer, #top-nav, #content, #content #contentbar, #content #sidebar { margin:0; padding:0;}
                        
            /* Logo */
            #logo { padding:10px; width:auto; float:left;}
            #logo h1 a, h1 a:hover { color:darkblue; text-decoration:none; text-align:center;}
            #logo h1 span { color:#d3d3f9;}

            /* Header */
            #header { background:#eee; }
            #header-inner { padding:10px; background:#fff;}
            
            /* Feature */
            .feature { background:#eee;padding:0;}
            .feature-inner { padding:10px;background:blue; }
            .feature-inner h1 {color:#d3d3f9;font-size:32px;}
            
            /* Menu */
            #top-nav {  padding:0px 0 0; height:37px; float:right;}
            #top-nav ul { list-style:none; padding:0; height:37px; float:left;}
            #top-nav ul li {  padding:0 0 0 8px; float:left;}
            #top-nav ul li a { display:block; padding:8px 20px; color:blue; text-decoration:none;}
            #top-nav ul li.active a, #top-nav ul li a:hover { color:#d3d3f9;}
              </style>
 <div id="page">
            <header id="header">
                <div id="header-inner"> 
                                      <div id="top-nav">
                        <ul>
                        <li><a href="/#">Home</a></li>
                        <li><a href="#">Debate</a></li>
                        <li><a href="#">Events</a></li>
                        <li><a href="#">PartnerPrograms</a></li>
                        <li><a href="/blogs">Blog</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="clr"></div>
                </div>
<title>hello</title>
<h1 align="center">Contact Page</h1>
 <p>This would be a static home page in a Rails application.</p>
<h1>Contact Form</h1>
<head><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css"></head>
<br />
<div class="inner contact">
                <!-- Form Area -->
                <div class="contact-form">
                    <!-- Form -->
                    <form id="contact-us" method="post" action="#">
                        <!-- Left Inputs -->
                        <div class="col-xs-6 wow animated slideInLeft" data-wow-delay=".5s">
                            <!-- Name -->
                            <input type="text" name="name" id="name" required="required" class="form" placeholder="Name" />
                            <!-- Email -->
                            <input type="email" name="mail" id="mail" required="required" class="form" placeholder="Email" />
                            <!-- Subject -->
                            <input type="text" name="subject" id="subject" required="required" class="form" placeholder="Subject" />
                        </div><!-- End Left Inputs -->
                        <!-- Right Inputs -->
                        <div class="col-xs-6 wow animated slideInRight" data-wow-delay=".5s">
                            <!-- Message -->
                            <textarea name="message" id="message" class="form textarea"  placeholder="Message"></textarea>
                        </div><!-- End Right Inputs -->
                        <!-- Bottom Submit -->
                        <div class="relative fullwidth col-xs-12">
                            <!-- Send Button -->
                            <button type="submit" id="submit" name="submit" class="form-btn semibold">Send Message</button> 
                        </div><!-- End Bottom Submit -->
                        <!-- Clear -->
                        <div class="clear"></div>
                    </form>

                    <!-- Your Mail Message -->
                    <div class="mail-message-area">
                        <!-- Message -->
                        <div class="alert gray-bg mail-message not-visible-message">
                            <strong>Thank You !</strong> Your email has been delivered.
                        </div>
                    </div>

                </div><!-- End Contact Form Area -->
            </div><!-- End Inner -->

<%= image_tag("profile.png")%>
<br>
<h5>Name:Lisa Martin<h5>
<h5>Email:123@gmail.com<h5>


