<html>
<head>
<%= render "layouts/navigation" %>
</head>
<div class="wrap">
<div class="wrap">

  <%= render "layouts/sidenav" %>


  
  <!--Body content-->
  <div class="content">
    <div class="top-bar">       
      <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>      
    </div>
    <section class="content-inner">
      <h3 id="pagetitle">About the Court
</h3>
      <p id="resources_paragraphs">The THIMUN O-MUN ICJ Guidebook can be found here: THIMUN O-MUN ICJ Guidebook <br><br>

The ICJ was formed as the supreme judicial authority in the United Nations, with all UN members subject to abide by its rulings. As a judicial body, rather than a legislative committee, the ICJ’s purpose and proceedings are far different than those of typical UN committees. The ICJ mediates conflicts between two nations by reflecting on treaties, international conventions, and international law. The ICJ verdicts revolve around the question “what is legal?” and so the ICJ is not restricted in the decisions it makes, so long as it has legal backing to make them. For example, if country X and country Y have a dispute over who owns an island, the ICJ can very well award the island to country Z, who was not involved in the case whatsoever, if it finds strong legal evidence suggesting that the island truly belongs to Z. That is why, in ICJ proceedings, advocate parties never truly “debate” the case, but just present evidence and witnesses to <br><br>support their case.

The ICJ is made up of three major parties. The applicant party consists of the advocate team from the country that applied for the ICJ to hear their case. Their country feels it has been wronged by the opposing party, and the role of the applicant party is to bring forth evidence and witnesses showing that they are legally correct and the opposing team is infringing on their jurisdiction. The respondent party consists of the advocate team from the opposing country. Their job is to convince the court, through evidence and witnesses, that they are doing nothing wrong. The panel is composed of the judges and officers of the court (president, vice-president, and registrar). The panel hears the case presented, discusses the evidence, witnesses, and arguments presented, and then decides on the verdict of the case.<br><br>

It is important to understand the ICJ not as a criminal court, but as a court of justice. The ICJ has no jurisdiction to evoke punishments or consequences on countries. Rather, the ICJ is the supreme authority when interpreting legal documents (treaties, international conventions, UN resolutions, etc). As such, the ICJ is also a “court of last resort”, meaning that countries only come to the ICJ when they have no possible way of resolving the conflict themselves.<br><br>
 </p>
    </section>
  </div>  
  
</div>
</html>