<html>
<link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet"></link>
<link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet"></link>
<head>

<%= render "layouts/navigation" %>
</head>
<div class="wrap">
<div class="wrap">
  
<%= render "layouts/sidenav" %>
  
  <!--Body content-->
  <div class="content">
    <div class="top-bar">       
      <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>      
    </div>
    <section class="content-inner">
      <h3 id="pagetitle">THIMUN O-MUN: Getting Started with Debating</h3>
      <p id="resources_paragraphs">Welcome to Online Debates. In order to start debating online, there are a couple of things you need to do.<br><br>
1. Find a debate and SIGN UP! All our debates are found on the calendar on the front of the website. You can also check out which debates are occurring by region by going to this page and clicking on the link you are interested in. To sign up for a debate, you must first register on our website. Once you are logged in, simply click on the calendar event, and your registration form automatically appears.<br><br>

2. Get on Facebook, and for Global Debates, MightyBell Facebook is the quick and easy place to get up to date information on current debates. We have our main Delegates Facebook group and then groups by region. Seach for O-MUN Asia (or Africa, Pacific, Europe...you get the idea). For our Global Debates, you will also be invited to a MightyBell research hub. Here delegates will share links and debate-related information. A private invitation will be sent to you at the time of registration.<br><br>

3. Make sure your computer is Blackboard ready! Debates are held in a virtual classroom called Blackboard Collaborate. It is generally a straightforward technology, but you can hit s few snags, particularly if your JAVA needs to be updated or you have an old operating system. Click here for a few links that will help you check which version of Java you have on your computer, if your operating system is up to the task, and for a few other pointers should you run into problems.<br><br>

4. Get involved in the community Many of our delegates have made good friends with students from around the world. The social media aspect of O-MUN is a welcoming and collegial place, and we work hard to keep it that way. So sign up, and introduce yourself! Not on Facebook? Don’t worry. You will have all the information you need via our website to stay actively involved. We’ll have a few options in the fall of 2013 for students not able to participate on Facebook. Watch for updates and information!
 </p>
    </section>
  </div>  
  
</div>
</html>