<html>
    <body>
         <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
           
<br><br><br>
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Debate Cycles and Country Assignments</p>
            </link>
            

           <p id="contentpara"> 
                Collaboration and caucusing sessions, lobbying and debates will be organized by a Chair and the Assistant Director assigned to the debate cycle, which will last three  weeks, from the day country assignments are announced to the conclusion of the debate The debate topics and their date can be found on the O-MUN website’s calendar. Delegates are free to sign up for as many debates as they like over the course of the semester.</br>
                Delegates must register for debates via the O-MUN website.  Delegates must register first on the website, and then can register for debates by clicking on the calendar event itself. Country assignments are usually made within 36 hours of registration. At that time, you will also be sent an email invite to a MightyBell research site. Once you have been assigned a country, it is expected that the delegate will attend the debate and if possible, the lobbying session, held one week before.</br>
                Students who sign up for debates and do not attend will be given one warning and a chance to participate again. Continued failure to meet debate deadlines and attend required sessions will result in suspension from the program. (In the case of emergencies, contact your chair and the Assistant Director in charge.)</br>
                The Chair and Assistant Director will communicate links and relevant information via Twitter and Facebook., and, closer to lobbying and debate, via email. Delegates are encouraged to add their opinions, links and questions to these forums. It is expected that delegates check these accounts and participate often in order to promote and improve the overall quality of the debate.</br>
                Traditional Model UN debates cannot function if key countries fail to show up or do not accurately represent their country’s policy. The same is true of online debates. Please be courteous to your fellow delegates by being present and engaged when required.
            </p>


           
      
      
      
      
      
      
      
      
      
      
      
        </link>
    </body>
</html>