<html>
    <body>
         <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
           
<br><br><br>
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Debate Procedure: Step by Step</p>
            </link>
            

            <h3 class="heading3">Introductions:</h3>
            <p id="contentpara">The O-MUN Director/Assistant Director overseeing the organization of the debate will introduce the Chair, who in turn will introduce the moderators and their positions/tasks and call the debate to order.</p>
            
            <h3 class="heading3">Roll Call:</h3>
            
            <p id="contentpara">The roll call will also serve as the last audio check prior to debate. All mics will be enabled. When a country is called, the delegate will turn on their mic and respond in an appropriate fashion (“Present”; “Present and voting”; “The delegate of China is present” etc.) If a delegate attempts to use the mic and is inaudible to the forum, the mic will be disabled and the delegate will be messaged directly by the moderators to help troubleshoot the problem. Delegates should test their speakers and mic prior to the beginning of debate</p>
            
            <h3 class="heading3">Resolution:</h3>
              <p id="contentpara">The resolution will be introduced and debate will commence. The main submitter will be given the floor to read out the operative clauses only and introduce the resolution. The resolution will be posted on the whiteboard via TitanPad. The Chat Moderator will send out the link to the resolution via Chat, Twitter and Facebook to further assist delegates. Delegates may save the resolution to their hard drive or print it prior to debate.</p>
            <h3 class="heading3">Debate:</h3>
            <p id="contentpara">The Chair will open the floor to points of information. The Chair will also announce the duration of the debate, and any particular procedures relating to amending the resolution.</p>
            
            <h3 class="heading3">Amendments</h3>
            <p id="contentpara">Amendments can be submitted to the ‘Amendments’ Moderator via the chat box. These amendments will then be cut and pasted into the whiteboard. Please check spelling and grammar prior to submission.</p>
            <h3 class="heading3">Voting</h3>
            <p id="contentpara">The Chair will instruct delegates when and how to vote on amendments and the resolution as a whole. The Whiteboard Moderator’s function is to enable voting using the tools found in Bb, and to assist the chair in organizational and procedural matters related to voting. The results of various votes will be posted onto the whiteboard. </p>
            
            <h3 class="heading3">Closing</h3>
            <p id="contentpara">Once a resolution has been passed or defeated, the Chair will conclude with closing remarks and adjourn the debate. Delegates are encouraged to participate in a debriefing session that occurs immediately after the end of debate.
            </p>
            
            
            
            
            
                       
                  
                  
                  
                  
      
      
      
      
      
      
      
        </link>
    </body>
</html>