<html>
    <body>
        
          <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
           
<br><br><br>
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Debate Procedure</p>
             </link>
            

         


          
            <h3 class="heading3">Debate Procedure</h3>
            <p id="contentpara">Except where otherwise adapted or limited by these rules, Robert’s Rules of parliamentary procedure are used.</br>
            In general, the Chairs will know the proper procedure and how to apply the rules. They can give help and information and delegates may ask for clarification or explanation of the rules. This is most easily done by rising to a point of order, a point of information to the Chair or a point of parliamentary enquiry. Such points, however, are not allowed to interrupt a speech.</p>
            <h3 class="heading3">Powers of the Chair</h3>
            <p id="contentpara">The Chair sets the limitation of debate time for each motion. When debate time has been exhausted, the Chair proposes either the extension of debate time or the closure of debate and subsequent vote on the question being considered (the Previous Question).</br>
            Since a high degree of consensus is aimed at, open debate is the norm, except on really contentious issues, where the Chair may propose closed debate.</br>
            The Chair may, in the interest of debate, or in order to work towards consensus, call upon particular delegates to speak, even if they have not requested the floor. The Chair should be mindful of the delegate’s level of experience and message intent when calling on individual participants. The Chair may also, for the same purposes, restrict the speaking time of an individual delegate. The limitations of debate time include the time taken for replies to points of information but do not include the time taken for questions to the speaker or for other interruptions.</br>
            The Chair will announce the guillotine time (the absolute maximum debate time for one resolution). The Chair may call recesses or the adjournment of the debate.</br>
            Decisions of the Chair may be appealed and the Chair has the right to explain the decision. The appeal is not debatable but is put directly to the vote. A two-thirds vote against the Chair’s decision is required for such an appeal to be upheld.</br>
          </p>
          
          <h3 class="heading3">Amendments to Draft Resolutions</h3>
            <p id="contentpara">
                The purpose of amendments is to improve the resolution with the object of achieving wider consensus. </br>
                Amendments can only be submitted by a speaker who has the floor.</br>
                Amendments can only be made to Operative Clauses. Preambulatory Clauses, which should contain only facts and reasoning, are not normally debatable nor subject to amendment.</br>
                To avoid confusion, amendments should normally only refer to one specific clause at a time.</br>
                Amendments can be made to "strike", to "add", to "insert" or to "strike and insert" words or phrases to the clause in question. They may also propose to strike, add or insert whole clauses.</br>
                When an amendment is moved, debate on the main resolution is temporarily suspended, while debate takes place on the proposed amendment and a consequent vote taken on whether to adopt it.</br>
                The Chair sets a debate time for the proposed amendment, at the conclusion of which a vote is taken. Under certain circumstances (e.g. in the interests of time or when there is little or no objection to the proposed amendment), the Chair may proceed directly to a vote on the amendment without debate.</br>
                The proposed amendment is voted on before a vote is taken on the main motion. If an amendment to the second degree (amendment to the amendment) is moved, it will be voted on before the vote is taken on the first amendment. If the adoption of the second amendment necessarily implies the acceptance or rejection of the first amendment, the first amendment is not put to the vote.</br>
                Delegates may vote for or against adoption of the amendment. Although they may abstain from voting, they should be aware that a motion passes if the number in favor exceeds the number against regardless of the number of abstentions.</br>
                Amendments adopted by a majority vote are included in the draft resolution before debate continues on the main motion as amended.</br>
                If the amendment fails, the submitter of the amendment retains the floor and debate continues on the main motion without amendment.
          </p>
          
          <h3 class="heading3">Yielding the Floor to other delegations</h3>
            <p id="contentpara">
                The floor may be yielded by one delegation to another only once consecutively.
          </p>
 
          <h3 class="heading3">Rising to Points and Interruption of Speeches</h3>
            <p id="contentpara">
                A speech may not be interrupted by any point except a Point of Personal Privilege referring to audibility.</br>
                All other points are dealt with only when the speaker has yielded the floor either to points of information, to another delegate, or to the Chair.</br>
                A Point of Order may relate to procedural matters only.
          </p>
        
         <h3 class="heading3">A Point of Personal Privilege</h3>
            <p id="contentpara">
                must refer to the comfort and well-being of the delegate. It may not refer to the content of any speech and may only interrupt a speaker if the speech is inaudible (this is indicated in O-MUN by the confused face emoticon).
          </p>
          <h3 class="heading3">A Point of Information</h3>
            <p id="contentpara">
                may be directed to the Chair or to the speaker who has the floor if he has indicated that he is willing to yield to points of information. A point of information must be formulated as a question, although a short introductory statement or reference may precede the question. A follow-up question or series of questions from the same questioner are usually not in order. </br>
                A Point of Parliamentary Enquiry is a point of information directed to the Chair concerning the rules of procedure.
            </p>
           <h3 class="heading3">The Previous Question</h3>
            <p id="contentpara">
            Moving the Previous Question calls for the closure of debate and for a vote to be taken on the motion pending. It may be moved by the Chair or a speaker who has the floor.</br>
            The motion will not usually be entertained if there are speakers who still wish to speak and time is still available.
            </p>
        <h3 class="heading3">Voting</h3>
        <p id="contentpara">
        Member states, observer states, NGOs and other organizations may vote on amendments. Observer states, NGOs and other organizations may also vote on the resolution as a whole. (Changed December 2013)</br>
		After the Chair has announced the start of voting procedures, no interruptions are allowed except for points of order connected with the actual conduct of the voting.</br>
		A simple majority is required for a resolution to pass. In the event of a tied vote, the resolution fails.</br>
		Abstentions (which are allowed on both the resolution as a whole and amendments) do not count either for or against the adoption of a motion, i.e. a resolution passes if the number in favor exceeds the number against regardless of the number of abstentions.
        </p>
            
    <h3 class="heading3">Veto Rights</h3>
        <p id="contentpara">
        The Security Council will apply the special provisions concerning voting as stated in the UN Charter.</br>
		The Chair announces the result of the vote. If the resolution has passed, the delegates may applaud.</br>
		After the result of the voting procedure has been announced and time permitting, a number of delegates may be recognized to explain their vote. The Chair will try to recognize both delegates who voted in favor and those who voted against or abstained.
        </p>
     <h3 class="heading3">Reconsideration and Tabling</h3>
        <p id="contentpara">
		Once a resolution has been formally adopted or rejected by a vote, it can only be reconsidered after all business on the agenda has been completed. It requires a two-thirds majority in favor of reconsideration.</br>
		Tabling, or laying a resolution on the table, temporarily disposes of it. A motion to table a resolution is not debatable and requires only a simple majority in favor. A two-thirds majority is needed to take matters from the 
        </p>        
            
         
         


       



          
        </link>
    </body>
   
    
    
    
</html>