<html>
    <body>
         <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
           
<br><br><br>
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Debating in Blackboard Collaborate</p>
            </link>
            

           <h3 class="heading3">Overview</h3>

<p id="contentpara"> The virtual space where debates are held is made up of several key parts, discussed below. Note the delegates can detach each part of the BbC room (chat, participants, audio & video, and white board) and move them around, enlarge them, hide others. The space is totally customizable.</p>

<h3 class="heading3">Chat</h3>

<p id="contentpara"> Delegates can chat publically, privately (delegate to delegate), or send messages to their chair/moderators. All chat, including private chat, can be seen by moderators, meaning that by default all chat/notes are screened. Chat, including private chat, is saved and archived by O-MUN administrators. </p>

<h3 class="heading3">Participant Box</h3>
<p id="contentpara">The participant box lists all individuals in the room. The Chair will always be listed at the top, and other moderators or directors overseeing the debate will also be on the top. Underneath the moderators are the delegates, listed in country alphabetical order.</br>
When you log into the conference room, fill out the questions on the sign in sheet completely. This information is not shared with other delegates.</p>
<h3 class="heading3">White Board and TitanPad</h3>
<p id="contentpara">The whiteboard is the space that allows text and video to be pulled into the virtual room. For the purposes of lobbying and resolution drafting, O-MUN uses TitanPad. Delegates are given the link to the TitanPad document, with each country assigned a unique color. Individuals collaborate in real time, 
but can also add to the document asynchronously. 
This document can also be pulled into the BbC room, so that delegates can see their work in the meeting room.
</p>

<h3 class="heading3">Audio/Video</h3>
<p id="contentpara">Blackboard Collaborate does have a video feature, but due to varying bandwidth issues in the myriad of countries involved in real time, global debate, we only use audio during actual conference proceedings. </br>
At the conclusion of debate, we often turn the video on and allow delegates to chat that way.</p>


<h3 class="heading3"> Additional Technical Information </h3>


<p id="contentpara">
The following tips will help to optimize the meeting room for lobbying sessions and debate. Self Help, troubleshooting documents can be found under “Troubleshooting on the O-MUN webpage. Audio troubleshooting and clearing your computer’s Java cache (which creates problems in viewing the chat box) are the two most common technical issues delegates experience.</br></br>

 1) Check your audio: Go to Tools-Audio-Audio Setup Wizard. Run the wizard to ensure that both your speakers and mic are working. Do this step every time you enter the classroom.</br>
2) Clear your Java cache. Extensive use of the chat box will fill your Java cache and limit    your ability to see messages.  Find the Java logo in your control panel and look for the Temporary file settings. Delete both Applications and Applets and Trace and Log files. Please clear your cache prior to debate.
</p>




           
      
      
      
      
      
      
      
      
      
      
      
        </link>
    </body>
</html>