<html>
    <body>
        <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
        
           
<br><br><br>
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">The Draft Resolution</p>
             </link>
            
           <h3 class="heading3">Preamble and  Operative Clauses</h3>
           <p id="contentpara"> 
            Each resolution consists of one long sentence divided into clauses separated by commas and semi-colons.</br>
            Resolutions must be separated into a preamble and an operative section. In drafting a resolution it is more sensible to begin with the formulation of the operative clauses. Once a delegate has decided what action he/she thinks the United Nations should take or what attitude it should adopt, he/she can then turn to the preamble, which should contain the background to the problem, the argumentation and the reasoning behind the calls for action contained in the operative clauses. It is important to ensure that the operative clauses consist only of expressions of will or calls for action and that all background information, argumentation and reasoning is contained in the preamble. </br>
            It is perhaps important to note that Operative Clauses can only call for things that the body concerned has the power to carry out. For example, only the Security Council can send peacekeeping forces. The way around this would be to formulate a clause which says something like: Recommends that the Security Council send peacekeeping forces…
            </p>
             <ul id="listpara">
                <li>The statement of committee and the question as published.</li>
                <li>The responsible forum stated in capital letters at the beginning of the text section.</li>
                <li>The introductory word or phrase in the preambulatory clauses should be italicized</li>
                <li>No clause opening word should be repeated in its exact form.</li>
                <li>Preambulatory clauses must end in commas.</li>
                <li>All acronyms must be listed in full before appearing in abbreviated form. </li>
                <li>The introductory word or phrase in the operative clauses should be underlined.</li>
                <li>Operative numbers should align with the first letter of the preambulatory clause and then tabbed in three spaces.</li>
                <li>No operative clause opening word should be repeated in its exact form. </li>
                <li>Each operative clause must end in a semi-colon. </li>
                <li>Following lines of operative clauses must align with the first word of the first line. </li>
                <li>Sub-clauses should be tabbed in five spaces and marked with a letter and a bracket. </li>
                <li>Operative sub-clauses and sub-sub-clauses have no punctuation at all at the end. </li>
                <li>Sub-sub-clauses should be tabbed in five spaces from the sub-clause and marked with a roman numeral in lowercase followed by a full stop/period. </li>
                <li>A period (full stop) only appears at the end of the last operative clause</li>
            </ul>
            <p id="contentpara"> 
            The following is an example of a resolution originating out of the Disarmament Commission.</br>
            COMMITTEE: Disarmament Commission.</br>
            QUESTION OF: The role of diamonds in fuelling conflict: breaking the link between the illicit transaction of rough diamonds and armed conflict as a contribution to prevention and settlement of conflicts .</br>
            The Disarmament Commission.</br>
            Noting that the smuggling of illicit rough diamonds accounts for over 50 percent of the diamond trade and it is estimated by the Government Gold and Diamond Office that the total production of rough illicit diamonds amounts to 100 million USD per year.</br>
            Further noting rough diamonds as diamonds that are uncut and unpolished but are used as “blood diamonds” to finance conflicts to overthrow governments, .</br>
            Aware that 4% of diamonds produced are classified as “conflict or blood diamonds,” which is enough to purchase weapons for the whole destabilization of Africa, .</br>
            Defining “blood and conflict diamonds” as gems which are found in regions that are not under the control of the democratically elected ruler or government, or diamonds used by business or non-state forces to fund movements of human rights abuses against civilians, .</br>
            Recognizing the Kimberley Process Certification Scheme (KPCS) as an internationally recognized certification system for rough diamonds to establish national import and export standards, .</br>
            Further recognizing, that the KPCS is lacking a sufficient system for monitoring where diamonds are mined, how they are mined, what the proceeds are going to and how diamonds are domestically transported, which influences the government’s control over conflicts and can possibly be a promotion of illicit diamond trading,
            </p>
          <ul id="listpara">
	<li>Calls for all relevant member states to sign and ratify the KPCS as created in 2003 by the United Nations (UN) General Assembly which will help to promote cooperation and awareness of the illicit diamond trade;</li>
	<li>Further calls for all relevant nations which are currently withholding signature and ratification of the KPCS due to financial reasons, to request from intergovernmental organizations (IGO) such as the International Monetary Fund (IMF) and the World Bank, funds or low interest loans, while recognizing the ability of these IGO’s to reject applicants so that creditable member states may be provided with necessary finances to comply with this resolution;</li>
	<li>Asks for the creation of the Collation for Stopping Conflict Diamonds (CSCD), a United Nations Organization (UNO),which would work with the relevant member states, as well as the United Nations Verification and Inspection Committee (UNMOVIC), the United Nations Institute for Disarmament Research (UNIDIR), African Union (AU), Economic Commission for Africa (ECA) and World Diamond Council (WDC), enabling the monitoring of the implementation of the KPCS in countries that have already ratified it, so as to verify that it is fully respected, in order to catch illicit diamond trading within their member states as well as working with other member states to stop illicit diamond transportation on an international level by:
		<ul id="listpara_2">
			<li>Monitoring in their respective countries who is buying and selling the diamonds</li>
			<li>Ensuring the methods the diamonds are bought and mined from are legal according to the KPCS’s definition of “clean” diamonds as well as ensuring that the Geneva Convention is being implemented</li>
			<li>Sending a submitted proof of each country’s and mining companies diamond proceeds to ensuring that they are not funding armed conflicts </li>
			<li>Sending a member of the CSCD and of the UNMOVIC to nations having ratified the KPCS, so as to observe the changes made within a year’s time, thus insuring transparency;</li>
		</ul>
	</li>
	<li>Urges that the monitoring system of CSCD and member states that have signed the KPCS allow and implement a customs checking system in each county including:

	<ul id="listpara_2">
	<li>a monitoring system using modern measuring and weighing instruments, financed if needed by the IMF in order to:
	<ul id="listpara_3">
		<li>check that the certificate’s stated amount and quality of “clean” diamonds is received</li>
		<li>also make sure that the certificates received are genuine and include all the information needed</li>
		<li>confiscate any unregistered diamonds and the revenue of the illegal sales which will then be used for the CSCD</li>
	</ul>
	<li>the cooperation between the custom checking system, member states and International Criminal Police Organization (INTERPOL), in order to allocate a punishment for offenders who are illegally smuggling diamonds by:
	<ul id="listpara_3">
		<li> withholding certificates for international and domestic transportation of the businesses and member states</li>
		<li> investigating other past certificates by the business or persons that sent the certificate in order to prevent more illegal smuggling</li>
		<li> implementing other penalties suggested by the CSCD and any other relevant body.</li>
	</ul>
	</li>

	</li>

	</ul>
	</li>
</ul>



          
        </link>
    </body>
   
    
    
    
</html>