<html>
    <body>
        <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
           
<br><br><br>
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">The First Line</p>
            </link>
            

           <p id="contentpara"> 
            A resolution is always written in one whole sentence meaning there shouldn’t be a full stop until the very last line of the document. However, the first line itself address the subject in this case it would be your full committee name followed by a comma.</br>
            Example:</br>
            If you are a delegate in the General Assembly it would be:</br>
            “The General Assembly”</br>
            If you are a delegate in the Security Council it would be:</br>
            “The Security Council”
    
            </p>



           
      
      
      
      
      
      
      
      
      
      
      
        </link>
    </body>
</html>