
<%= render "layouts/navigation" %>
<br><br><br>

<h1 id="pagetitle">O-MUN Theme Song</h1><br>


<p id="resources_paragraphs">Thanks to Chris Bishop for the first O-MUN Theme Song...soon on iTunes! :-)<br><br>


And here are the words in case you'd like to sing along!<br><br>

I’m sitting at home, nothing to do<br><br>

No-one around, to talk to<br><br>

And there’s one thing on my mind<br><br>

I’m waiting for that special time<br><br>

Which is 1300UTC<br><br>

That’s when we begin to lobby<br><br>

And you’ll see it’s worth the wait,<br><br>

When we begin to debate<br><br>

And we’re all assigned a different nation<br><br>

We prepare our speeches with anticipation,<br><br>

and we all know that today, we’re gonna debate our own way<br><br>

At O-MUN, O-MUN O-MUN<br><br>

That’s Online Model United Nations x2v<br><br>

It’s online, across the world<br><br>

You can see debates before you unfurl<br><br>

But I think that you should know<br><br>

That their moderators are so-so<br><br>

Look I’m only having a cheeky laugh<br><br>

MUN within’s everybody’s grasp<br><br>

The moderators are the best you’ll find<br><br>

They’re always willing to take out some time for<br><br>

O-MUN, O-MUN O-MUN That’s Online Model United Nations x2<br><br>

YEAH!

</p>