<%= render "layouts/navigation" %>
<br><br><br>


<h1>IB CAS and O-MUN</h1><br>
<p>Model United Nations is a great way to meet some of your CAS requirements. In O-MUN, as in face to face debating, students generally catagorize their MUN participation as a creative endeavor, but O-MUN could also be seen as a service, particularly if you are teaching MUN to younger students, or  starting an online club for a school that has no Model United Nation's program. As evidence of your participation, you will be able to show recordings of debates, a link to the Delegate Recognition spreadsheet, screenshots of engagement on social media sites, and if necessary, letters of verification by the O-MUN Director. Blog posts or contributions to the monthly newsletter are also sources of evidence. The critically important CAS journal should show consistent engagement and reflection,  and address some the following outcomes:<br><br>

<h1 id="pagetitle">IB CAS and O-MUN</h1><br>
<p id="resources_paragraphs">Model United Nations is a great way to meet some of your CAS requirements. In O-MUN, as in face to face debating, students generally catagorize their MUN participation as a creative endeavor, but O-MUN could also be seen as a service, particularly if you are teaching MUN to younger students, or  starting an online club for a school that has no Model United Nation's program. As evidence of your participation, you will be able to show recordings of debates, a link to the Delegate Recognition spreadsheet, screenshots of engagement on social media sites, and if necessary, letters of verification by the O-MUN Director. Blog posts or contributions to the monthly newsletter are also sources of evidence. The critically important CAS journal should show consistent engagement and reflection,  and address some the following outcomes:<br><br>


Learning outcomes The completion decision for the school in relation to each student is, simply, “Have these outcomes been achieved?” As a result of their CAS experience as a whole, including their reflections, there should be evidence that students have:<br><br>

• increased their awareness of their own strengths and areas for growth They are able to see themselves as individuals with various skills and abilities, some more developed than others, and understand that they can make choices about how they wish to move forward.<br><br>

• undertaken new challenges A new challenge may be an unfamiliar activity, or an extension to an existing one.<br><br>

• planned and initiated activities Planning and initiation will often be in collaboration with others. It can be shown in activities that are part of larger projects, for example, ongoing school activities in the local community, as well as in small student‑led activities.<br><br>

• worked collaboratively with others Collaboration can be shown in many different activities, such as team sports, playing music in a band, or helping in a kindergarten. At least one project, involving collaboration and the integration of at least two of creativity, action and service, is required.<br><br>

• shown perseverance and commitment in their activities At a minimum, this implies attending regularly and accepting a share of the responsibility for dealing with problems that arise in the course of activities.<br><br>

• engaged with issues of global importance Students may be involved in international projects but there are many global issues that can be acted upon locally or nationally (for example, environmental concerns, caring for the elderly).<br><br>

• considered the ethical implications of their actions Ethical decisions arise in almost any CAS activity (for example, on the sports field, in musical composition, in relationships with others involved in service activities). Evidence of thinking about ethical issues can be shown in various ways, including journal entries and conversations with CAS advisers.<br><br>

• developed new skills As with new challenges, new skills may be shown in activities that the student has not previously undertaken, or in increased expertise in an established area.  <br><br>

A big thank you to Peter Carrigan of Amman Baccalaureate School for his insightful comments and assistance. </p>       