<html>
    <body>
        <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
           
<br><br><br>
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">The Heading</p>
            </link>
            

           <p id="contentpara"> 
            The heading at the top left corner will contain the following information, in this specific order:</br>
            FORUM: The full name of your committee</br>
            (General Assembly, Environment Commission, Security Council etc)</br>
            QUESTION OF: The full topic as stated on the O-MUN website</br>
            MAIN SUBMITTER: The full delegation name of the delegate introducing the resolution</br>
            See below for an example of an entire resolution.
            </p>
            
            <iframe src="https://docs.google.com/document/d/1l8CB1L-GhQ-62DHg-aDJN_gf7gzDYikE-3I0Arn7gT0/pub?embedded=true"></iframe>



           
      
      
      
      
      
      
      
      
      
      
      
        </link>
    </body>
</html>