<!DOCTYPE html>
<html>
<%= render "layouts/navigation" %>
<h1 id="pagetitle" >Hope for Educlation and Leadership in Afghanistan:</h1>
 
<div class=pic>
<%= image_tag "logos/image002.jpg"%><br><div>
<h2 >About Us</h2>

<p>Hope for Education and Leadership in Afghanistan organization (HELA) is a non-political, non-profit and non-government <br>organization, which is devoted for Model United Nation (MUN) for first time in Afghanistan. The organization goal is <br>to create future leaders of Afghanistan trough out the country trough Model United Nation (MUN) international <br>project which exist in over than 100 countries of the world and focuses on capacity building trainings, awareness <br>programs, researches, academic workshops, international NUN conferences and public speaking. <br>
Since establishment the organization lunched many international projects, workshops and national and international conferences.<br></p>
<h2 >Our Mission and Vision</h2>
​<p> We believe in the power of education and the collaborative process of problem solving and consensus building, and seeks to foster leadership and positive engagement through discussion and debate of the world’s most pressing problems.
we believe that there is intrinsic worth in bringing together young people of different backgrounds and ethnicities to lay a foundation for trust and mutual respect. 
We believe that debate, discussion, film and online collaborative projects are both creative and educationally strong methods to enhance the educational opportunities for Afghan youth. 
We believe it can best serve youth through a non-political, student led organization that is inclusive of all ethnicities, political views, socio-economic status and gender. 
Bringing MUN to Afghanistan<br></P>
<h2 >Our story:</h2>
<p>In February 2015, five high school students from Kabul attended the THIMUN Qatar Model United Nation's conference in <br>Doha, Qatar.  The five students were mentored by high schools students from around the world, and took the conference by storm.

These five individuals and their like-minded friends have since launched the first NGO in Afghanistan devoted to Model <br>United Nations, and to share this eductional program with youth around the country. Using both face to face <br>outreach, and the THIMUN Online platform, their goal is to encourage Afghan youth to have a voice, research and debate global issues, improve their English language skills, and to be connected with youth around the world.<br></p>
 

</html>

<style>
.pic{
	position:absolute;
	left:150px;

}
</style>