<html>
<head>
<%= render "layouts/navigation" %>
</head>
<div class="wrap">
<div class="wrap">
<br><br><br>
   <aside id="side-menu" class="aside" role="navigation">            
        <ul class="nav nav-list accordion">                    
          <li class="nav-header">
             <li><a href="/debate-info">DEBATE! Getting Started</a></li>
          </li>
          <hr>
          <li class="nav-header">
            <li><a href="/Assembly">General Assembly</a></li>
          </li>
          <hr>
          <li class="nav-header">
             <li><a href="/Security">Security Council</a></li>
          </li>  
          <hr>
           <li class="nav-header">
            <li><a href="/special">Special Conferences</a></li>
          </li>
          <hr>
          <li class="nav-header">
             <li><a href="/court">International Court of Justice</a></li>
          </li>
          <hr>
          <li class="nav-header">
             <li><a href="/advise">Advisory Panel Question</a></li>
          </li>
          <hr>
          <li class="nav-header">
             <li><a href="/jro-mun">jrO-MUN Debate</a></li>
          </li>
          <hr>
          <li class="nav-header">
             <li><a href="/internationalAffairs">International Affairs Dialogue</a></li>
          </li>          

          
      </ul>
  </aside>
  
  <!--Body content-->
  <div class="content">
    <div class="top-bar">       
      <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>      
    </div>
    <section class="content-inner">
      <h3 id="pagetitle">The next jrO-MUN debate is now open

</h3>
      <p id="resources_paragraphs">These are the rules of procedure that delegates must follow for the International Affairs Dialogue:<br><br>
The International Affairs Dialogue (IAD) is an initiative to encourage a spirit of global patriotism and intercultural understanding among delegates from across the globe through THIMUN O-MUN's online platform. Unlike traditional O-MUN or MUN debates entailing strict parliamentary procedures, the IAD allows greater freedom for delegates to exchange ideas, while also providing the Chair an opportunity to question delegates on their understanding of the matter in order to gain a wide range of perspectives to then develop better strategies to tackle the issue at hand. <br><br>

The IAD takes place a few days before the independence day of the country whose socioeconomic or political issues are debated on, and on the country's independence day, the debate findings/overall experience are summarised and published in the THIMUN blogs after review. A communiqué is used instead of a resolution, consisting of clauses describing the issues faced by the country in question, its goals/long-term ideals, along with sub-points for each clause stating strategies whereby those issues could be cost-efficiently and practically alleviated on a small or large scale. Delegates are strongly encouraged to submit amendments to improve these strategies throughout the debate, similar to procedures in a regular debate. Each speaker will be allotted equal speaking times, but the main-submitting individual(s) from the country in question will be assigned greater presentation/opening speech times to best explain their country's social, economic, cultural and political struggles from a personal viewpoint. <br><br>

Finally, the delegates will not be assigned countries to represent as they do in regular MUN debates, but they will instead debate as individuals presenting their personal viewpoints to encourage greater discussion as a result of lowered formality.<br><br>

 

  Come prepared, and we look forward to seeing you all on the 15th of April at 13:00 UTC.    PLEASE LOG IN TO THE SPC ROOM 30 MINUTES BEFORE DEBATE TIME!<br><br>
 

Committee: International Affairs Dialogue<br><br>

Topic: The Question of Zimbabwe: Overcoming The National "Brain Drain" Crisis <br><br>

Date: April 15, 2017<br><br>

Time: 13:00 UTC. For your local time, please check the time zone converter, click here.<br><br>

Registration: To register for this debate, click here! Note that you must be logged into the website to access the registration form.<br><br>

For more information please contact any of the following members of Debate Team 2 :<br><br>

Assistant Director: Noor Freg<br>
Deputy Secretary General: Irene Ann Promodh<br>
EAO of Republic of Korea: Young Park<br>
EAO of Bangladesh: Anaam Choudhury<br>
Moderating Team:<br><br>

Chair: <br>
Co-Chair: <br>
Amendments Moderator: <br>
Tally Moderator: <br>


 </p>
    </section>
  </div>  
  
</div>
</html>