<html>
    <body>
         <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
           
<br><br><br>
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Introduction</p>
            </link>
            

           <p id="contentpara"> 
            Online Model United Nations (O-MUN) is an online debating platform that mimics face to face debate currently used around the world. 
            Borrowing from the general debating procedures developed by The Hague International Model United Nations (THIMUN) program, students in diverse geographic locations, 
            and in real time, can experience the collaboration and debate experienced by tens of thousands of students every year. Online Model United Nations (O-MUN) was co-developed by Lisa Martin and
            Jingshen Zhao as a way to bring the MUN experience to students around the world. O-MUN is a not-for profit educational simulation run 
            by experienced volunteers, whose simple aim is to engage youth globally in meaningful dialog about today’s most pressing issues. O-MUN’s potential scope and make it a unique educational activity.
            </p>


           
      
      
      
      
      
      
      
      
      
      
      
        </link>
    </body>
</html>