<html>
<head>
<%= render "layouts/navigation" %>
</head>
<div class="wrap">
<div class="wrap">

  <%= render "layouts/sidenav" %>


  <!--Body content-->
  <div class="content">
    <div class="top-bar">       
      <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>      
    </div>
    <section class="content-inner">
      <h3 id="pagetitle">The next jrO-MUN debate is now open

</h3>
      <p id="resources_paragraphs"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfDqA9aKDAz_CYnYgCD7PuL5I2fcVWfFD36tLVGCnAkxfMJ7w/viewform?c=0&w=1">Please Sign UP here</a>
        Topic:  Building vulnerable people's long-term economic resilience to extreme weather events.<br><br>

Date & Time: Part I Saturday May20th, Part II Monday May 22nd (11:45 -13:30 UTC). To convert to your local time, click here.<br><br>

Mightybell Research Link: <br><br>

Other Resources: <br><br>

- Thank you to the MUN students at IBSH for making a series of video guides to jrO-MUN debates!<br><br>

- Chair Report will be posted soon<br><br>

Everyone can view this public site. You do not need to have a Mightybell account. Your leadership team will be adding research links to the site. Participation in Edmodo is not required but recommended so delegates have a forum for pre-debate collaboration and mentoring support. For more information, click here.<br><br>

Debate Cycle<br><br>

***Week 1, Monday, April 24**<br><br>

Post self-introductions on Edmodo to start the week<br><br>

Share issue research links on Edmodo by end of week (refer to Mightybell)<br><br>

***Week 2, Monday, May 1**<br><br>

Country Research<br><br>

***Week 3, Monday, May 8**<br><br>

Position Statements<br><br>

***Week 4, Monday, May 15**<br><br>

Prep Opening Speeches<br><br>

Draft Resolution<br><br>

* 4/20 Saturday Global Debate: 11:45~13:30 UTC *<br><br>

* 4/22 Monday Global Debate: 11:45~13:30 UTC *


 </p>
    </section>
  </div>  
  
</div>
</html>