<html>
    <body>
         <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
           
<br><br><br>
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Moderating and Chairing</p>
            </link>
            

           <p id="contentpara"> 
            O-MUN has a continually growing need for moderators and chairs. It takes a minimum of five students to run an online debate. The positions required are:</br>
            <u>Chair:</u> Oversees the debate cycle and the running of the actual debate</br>
            <u>Co-Chair:</u>  Assists and shares the duties of chairing during debate, and often oversees lobbying. </br>
            <u>Amendments:</u> This student logs into the Bb room as ‘Amendments’ and delegates message this moderator via chat by sending proposed amendments. This moderator also is responsible for making changes to the resolution housed on TitanPad. </br>
            <u>Tally:</u> This moderator works a Google Doc that is used to record student participation. </br>
            <u>Chat:</u> Usually two chat mods are needed per debate, This is the entry level moderating position, overseeing delegate note passing and general messaging and tech support. </br></br></p>
            <h4>How can I become an O-MUN Moderator/Chair?</h4>
            <p id="contentpara">
            The most common question asked by O-MUN organizers is “How do I become a chair (or a leader) in O-MUN?” We’ve outlined below the most common steps needed to begin moderating in the Online Debate’s program.</br></br>
            <u>Step 1: Participate in Online Debating</u></br>
            It seems like a common sense first step. If you are totally new to MUN , or if you simply have never debated online before, you have to be able to understand the ‘front end’ experience before jumping into the behind the scenes action. Participate in one or two online debates (including lobbying) before starting on your moderating path.</br></br>
            <u>Step 2: Participate in TechMasters</u></br>
            One a month O-MUN holds TechMasters (announced on the Facebook groups). This one hour session is a behind the scenes look at the tools and features available to moderators to run debates. </br></br>
            <u>Step 3: Pass a Moderating Test</u></br>
            Upon completion of TechMasters, a moderating test will be sent to interested applicants. You must pass this with an 80% or better. The test is a combination of Blackboard  tech questions and general THIMUN rules and procedures. Once you pass the moderator’s test, you are put in the moderating pool and you are free to start with low level moderating. </br></br>
            <u>Step 4: Becoming a Chair</u></br>
            Students who have had some face to face chairing experience will be at a slight advantage, but generally after filling the role of several different moderating positions, moderators are free to take a Chairing test, and to go through an evaluation with Arthur Shin. Students who pass the chairing test with 80% or better are then classified as chairs and can chair regional and country debates. Global debate’s chairs should have had previous debating practice in regional / smaller debates.</p>
            
            
            

           
      
      
      
      
      
      
      
      
      
      
      
        </link>
    </body>
</html>