<html>
    <body>
          <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
     <section class="black" style="">
       
<h1 style ="margin-left:25px;margin-top:50px; margin-bottom:10px;font-size:70px;">Resources</h1>
     </section>

        

      <br><br><br>
   
    
    <div class="container">

    <div class="row grid-divider">
    <div class="col-sm-4">
      <div class="col-padding">
        <p class="n">THIMUN O-MUN Rules</p>
        <p>           <ul >
                <li><a href="/speech-making-and-forms-address">Speech Making and Forms of Address</a></li>
                <li><a href="/opening-speeches-policy-statements-and-draft-resolutions">Opening Speeches, Policy Statements and Draft Resolutions</a></li>
                <li><a href="/commonly-used-terms">Commonly Used Terms</a></li>
                <li><a href="/debate-procedure">Debate Procedure</a></li>
                <li><a href="/specific-rules-and-procedures-online-debates">Specific Rules and Procedures for Online Debates</a></li>
                <li><a href="/draft-resolution">The Draft Resolution</a></li>
                <li><a href="/words-and-phrases-drafting-resolutions">Words and Phrases-Drafting Resolutions</a></li>
                <li><a href="/stock-chairing-phrases">Stock Chairing Phrases</a></li>
            </ul></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
        <p class="n">How to Write a Resolution</p>
        <p>                <ul>
                    <li><a href="/purpose-resolution">Purpose of a Resolution</a></li>
                    <li><a href="/heading">The Heading</a></li>
                    <li><a href="/first-line">The First Line</a></li>
                    <li><a href="/preambulatory-clauses">Preambulatory Clauses</a></li>
                    <li><a href="/operative-clauses">Operative Clauses</a></li>
                    <li><a href="/sample-resolution">Sample Resolution</a></li>
                </ul></p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="col-padding">
        <p class="n" style="line-height: 1.2em;">THIMUN O-MUN Delegate Handbook</p>
        <p>         <ul>
                    <li><a href="/thimun-o-mun-vision">THIMUN O-MUN Vision</a></li>
                    <li><a href="/introduction">Introduction</a></li>
                    <li><a href="/technology">The Technology</a></li>
                    <li><a href="/debating-blackboard-collaborate">Debating in Blackboard Collaborate</a></li>
                    <li><a href="/debate-procedure-step-step">Debate Procedure: Step by Step</a></li>
                    <li><a href="/rules-procedures-online-equivalents">Rules and Procedures: Online Equivalents</a></li>
                    <li><a href="/debate-cycles-country-assignments">Debate Cycles and Country Assignments</a></li>
                    <li><a href="/moderating-chairing">Moderating and Chairing</li>
                </ul></p>
      </div>
    </div>
    </div>
  
</div>
    <div class="container">
<br><br>
<div class="row grid-divider">
   <div class="col-sm-4">
      <div class="col-padding">
        <p class="n">Power Search</p>
        <p><ul>
                    <li><a href="/power-search">What you need to know</a></li></p></ul>
      </div>
    </div>
        <div class="col-sm-4">
      <div class="col-padding">
        <p class="n">The United Nation's Guide</p>
        <p><ul>
                    <li><a href="/un-guide-model-united-nations">The UN Guide on Model United Nations</a></li></p></ul>
      </div>
    </div>
<div class="col-sm-4">
      <div class="col-padding">
        <p class="n">Other Useful links</p>
        <p>                <ul>
                    <li><a href="/debate-info">Getting Started</a></li>
                    <li><a href="/troubleshooting">Troubleshooting your Tech</a></li>
                    <li><a href="/videos">Videos</a></li>
                    <li><a href="/general-education">General Education Resources</a></li>
                    <li><a href="/fun">Fun Stuff</a></li>
                </ul></p>
      </div>
    </div>

</div></div>









  <style>
  /* Tablet and bigger */
@media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;

    }
    .grid-divider>[class*='col-'] {
        position: static;

    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";

     
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;

    }

}
.n{font-size:20px;


}
</style>
</html>