<html>
    <body>
        
        <%= render "layouts/navigation" %>
           
<br><br><br>
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Opening Speeches, Policy Statements and </br></br> Draft Resolutions</p>
            </link>
            
       
            <h3 class="heading3">Opening Speeches/Policy Statements</h3>
            <p id="contentpara">Delegates are permitted to make opening speeches. Such speeches are a statement of the delegation's policy, either in general or on a specific issue, and usually restricted to one minute.</p>
            <h3 class="heading3">Right of Reply to Opening Speeches</h3>
            <p id="contentpara">The right of reply to an opening speech may be accorded to a limited number of delegates after a specified number of opening speeches. Such replies must refer specifically to one of the preceding opening speeches.</p>
            <h3 class="heading3">Draft Resolutions</h3>
            <p id="contentpara">Draft resolutions submitted for debate must:
            <ul id="listpara">
                <li>Conform to the THIMUN format and structure (see Appendix)</li>
                <li>Be formulated in appropriate language for a UN resolution</li>
                <li>Pertain to the issue being debated</li>
                <li>Be within the competence of the forum debating it</li>
                <li>Be in accordance with the United Nations Charter</li>
            </ul>
            <p id="contentpara">This will be checked before debate begins.</p>
            </p>
          </br></br>
    
          
         
            


          
        </link>
    </body>
   
    
    
    
</html>