<html>
    <body>
        <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
           
<br><br><br>
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Operative Clauses</p>
            </link>
            

           <p id="contentpara"> 
            Operative clauses express what the main submitter of the resolution thinks other countries and organizations should do to help improve the situations 
            linked with the issue. Each of these should begin with a verb (operative phrase) that is underlined and should end with a semicolon. The solutions should be 
            not only original but also practical in real-life situations. Each operative should only outline a single idea/ proposal beginning with numbering (“1.” “2.” “3.”…) . Each clauses should be as specific 
            as possible and the usage of “sub-clauses”(beginning with “a.” “b.” “c.”…) And “sub-sub-clauses” (“i.” “ii.” “iii.”…) are allowed for further explanation of the proposal, however, there must be multiple “sub-clauses” and “sub-sub-clauses” per clause. 
            After the last operative clause, the resolution then should end with a full stop.
            </p>

            <h3 class="heading3">Example Operative Phrases</br>
            (Note: Bolded phrases are for Security Council only)</h3>
            <p id="contentpara"> 
            Accepts</br>
            Affirms</br>
            Approves</br>
            Asks</br>
            Authorizes</br>
            Calls</br>
            Calls upon</p>
            <h4 class="heading4">Condemns</h4>
            <p id="contentpara">
            Confirms</br>
            Congratulates</br>
            Considers</br>
            Declares accordingly</p>
            <h4 class="heading4">Demands</h4>
            <p id="contentpara">
            Deplores</br>
            Designates</br>
            Draws the attention</br>
            Emphasizes</br>
            Encourages</br>
            Endorses</br>
            Expresses its appreciation</br>
            Expresses its hope</br>
            Further invites</br>
            Further proclaims</br>
            Further reminds</br>
            Further recommends</br>
            Further requests</br>
            Further resolves</br>
            Has resolved</br>
            Notes</br>
            Proclaims</br>
            Reaffirms</br>
            Recommends</br>
            Regrets</br>
            Reminds</br>
            Requests</br>
            Solemnly affirms</p>
            <h4 class="heading4">Strongly condemns</h4>
            <p id="contentpara">
            Supports</br>
            Takes note of</br>
            Transmits</br>
            Trusts</br>
            Urges</br>
           </p>
      
      
      
      
      
      
      
      
      
      
      
        </link>
    </body>
</html>