<html>
    <body>
          <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
           
<br><br><br>
        <!--Navigation bar code ends here -->
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Power Search: What you need to know</p>
             </link>
            

           <p id="contentpara"> 
            There are several very simple search tools on Google that every delegate should use.  Here are two simple ones.
            To start, know what makes up a domain name. Take a look at this infographic to help you get started.


            <p id="contentpara">Delegates should be aware that the purpose of the rules is to facilitate debate and to accord to all delegates their democratic right to voice an opinion. The rules will be applied to this end and abuse or misuse of the rules for obstructive or restrictive purposes will not be tolerated.</p>
            <h3 class="heading3">Find United Nations Websites</h3>
            <p id="contentpara">Example: Child Marriage </br>

                You can approach your search several ways, but you will quickly want to find the UN resources that relate to your topic. Try this; for your search term type using <strong>site:un.org (no spaces)</strong></br>
                Compare the results to a simple search on child marriage.  The results are very different.</p>
            
            <h3 class="heading3">Internet Top Level Domains</h3>
            <p id="contentpara">If you want to find website or documents that are originating in the country you are researching, refine your search with an internet domain search. Often websites have a domain identifier that tell you if the website is from Jordan (.jo) or the United Kingdom (.uk) or Niger (ne). To find these top level domains, click here.</br>
            Try this:

              <strong>child marriage site:af    (Afghanistan)</strong></br>
             You get just over 1300 hits, compared to over 320 MILLION with a general 'Child Marriage' search, but included in this search are articles with interviews with the Minitry of Health in Afghanistan and posts from the Afghan Women's Network.</br>

Do you have a great search technique?  Contact us, and we'll add it to our website! 


            </p>
          
      
        </link>
    </body>
   
    
    
    
</html>