<html>
    <body>
        <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
           
<br><br><br>
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Preambulatory Clauses</p>
            </link>
            
 
           <p id="contentpara"> 
            Usually referred to as preambles or preams (that’s MUN slang). These are clauses that should explain the problem and issue that is being addressed. 
            They should be informative; however, they should not purpose any action. Each of these clauses begin with a present participle (perambulatory phrase) which is italicized, 
            these clauses then end with a comma. </br>Information can include:
                <ul id="listpara">
                    <li>Statistics about the issue</li>
                    <li>References to the UN Charter</li>
                    <li>Past UN resolutions and treaties</li>
                    <li>Efforts by Non- Governmental Organizations (often referred to as NGOs)</li>
                    <li>General statements on the topic</li>
                    <li>Any other factual information about the issue</li>
                </ul>
            </p>
            
            <h3 class="heading3">Example Preambulatory Phrases</h3>
            <p id="contentpara"> 
            Affirming</br>
            Alarmed by</br>
            Approving</br>
            Aware of</br>
            Bearing in mind</br>
            Believing</br>
            Confident</br>
            Contemplating</br>
            Convinced</br>
            Declaring</br>
            Deeply concerned</br>
            Deeply conscious</br>
            Deeply convinced</br>
            Deeply disturbed</br>
            Deeply regretting</br>
            Desiring</br>
            Emphasizing</br>
            Expecting</br>
            Expressing its appreciation</br>
            Expressing its satisfaction</br>
            Fulfilling</br>
            Fully alarmed</br>
            Fully aware</br>
            Fully believing</br>
            Further deploring</br>
            Further recalling</br>
            Guided by</br>
            Having adopted</br>
            Having considered</br>
            Having considered further</br>
            Having devoted attention</br>
            Having examined</br>
            Having heard</br>
            Having received</br>
            Having studied</br>
            Keeping in mind</br>
            Noting with regret</br>
            Noting with deep concern</br>
            Noting with satisfaction</br>
            Noting further</br>
            Noting with approval</br>
            Observing</br>
            Reaffirming</br>
            Realizing</br>
            Recalling</br>
            Recognizing</br>
            Referring</br>
            Seeking</br>
            Taking into account</br>
            Taking into consideration</br>
            Taking note</br>
            Viewing with appreciation</br>
            Welcoming</p>
            
            
            
                       
                  
      
      
      
      
      
      
      
      
      
      
        </link>
    </body>
</html>