<html>
    <body>
        <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
        
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Purpose of a Resolution</p>
            </link>
            

           <p id="contentpara"> 
            There’s an increasing amount of serious problems occurring in today’s world, ranging from 
            human rights problem and climate change to the economic crisis and conflicts between nations. However, where do the solutions come 
            from? If you said that we developed the solutions ourselves, you’re right. But how do we address these solutions? How do we put it in a 
            format that others can understand? That is where the resolution comes in. A UN resolution, a formal text of a proposal addressed to the UN councils, aims to 
            bring the house’s attention towards a specific issue and comes up with actions to try to resolve or improve the situation in a formal manner.
            </p>



           
      
      
      
      
      
      
      
      
      
      
      
        </link>
    </body>
</html>