<html>
    <body>
         <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
        
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Rules and Procedures: Online Equivalents</p>
            </link>
            

             <h3 class="heading3">Note Passing:</h3>
            
            <p id="contentpara"> 
            During the debate, delegates will be able to send notes to each other and to the Moderators via the chat box function.  ALL NOTES ARE MODERATED AND ARCHIVED. Note passing will be monitored by one dedicated Moderator and the O-MUN Director in attendance. Notes may be passed to the moderators at any time.</br>
            Given the volume of notes in the forum, if a delegate’s question or request is not immediately acknowledged, send the note again with the first words ‘Second” (Example: “Second. Is it in order to submit an amendment at this time?”). Note passing will be suspended during roll call, voting, and at the discretion of the Chair.</p>
            
            <h3 class="heading3">Points:</h3>
            
            <p id="contentpara">  
            A point of information is another word for a question. You must have the floor in order to make a point of information. A point of personal privilege is the exception. If this point is needed due to problems with audibility, you may use the ‘confused’ emoticon. This is the symbol used in Bb to indicate that others cannot hear a delegate.</p>
            
            <h3 class="heading3">Emoticons:</h3>
            <p id="contentpara">
            Emoticons are like ‘shout outs’ and are meant to replace verbal communication. Therefore, unless you have possession of the floor, the use of emoticons is generally out of order. Do not use the applause icon unless instructed by the Chair.  If delegates applaud during the course of the debate, they will be called out of order. The thumbs down emoticon is not used at any time in an O-MUN debate and will also be called out of order. The smiley face emoticon should not be used unless instructed by the chair, such as to reply to the question “Can delegates please let the chair know if they can hear the speaker clearly. Please give me a smiley face”.</p>
            
            <h3 class="heading3">Voting:</h3>
            <p id="contentpara">
            When it is time to vote on an amendment or the resolution itself, delegates will be instructed by the chair that the forum has gone into voting procedures. For amendments you will be given the choice of voting ‘for’ by giving a green check or against by a red X. Your vote will be seen by everyone in the forum.</br>
            Once the vote has been counted, the resulted will be read out by the chair. When voting for the resolution, you will be given the choice of ‘for’ (A), ‘against’ (B) or ‘abstain’ (C). Since guests in BbC are counted as part of the participant tally, the percentages will not accurately reflect the count.  Look at the vote tallies instead. Results will be announced by the chair.
            </p>
            
            <h3 class="heading3">Absence from the Forum:</h3>
            <p id="contentpara">
            If a delegate must leave the debate for a prolonged period of time, you must ‘turn in’ your placard by informing the moderator of your absence.  Delegates will do this by hitting the person/clock button in the participant box. This will indicate that a delegate is  ‘away’.</br>
            Like a face to face debate, it is expected that delegates will remain present unless there are extenuating circumstances.  If a participant is unable to continue the debate, they are to sign out, and the Tally Moderator will make note of the departure.
            </ p>
            
            
            <h3 class="heading3">Technical Problems:</h3>
            
            
            <p id="contentpara">
            If a delegate loses connection or a computer crashes, delegates should simply sign back in using their link. Send a message to the Tech Moderator, or any Moderator, via email, Facebook or Twitter if you need additional assistance and are for some reason locked out of the debate.</p>
            
            
            
            

           
      
      
      
      
      
      
      
      
      
      
      
        </link>
    </body>
</html>