<html>
    <body>
        <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
        
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Writing a THIMUN Resolution</p>
            </link>
            

           <p id="contentpara"> 
            Sample Resolution: Note specific headingand end of clause punctuation</br>
            FORUM: ECOSOC (Economic and Social Council)</br>
            QUESTION: Promoting Ecotourism for Poverty Eradication and Environmental Protection</br>
            SUBMITTED BY: Bolivia</br>
            THE ECONOMIC AND SOCIAL COUNCIL,</br>
            Definingeco-tourism (according to TIES) as "Responsible travel to natural areas that conserves the environment and improves the well-being of local people,”</br>
            Further defining “greenwashing” as the abusive appropriation of descriptors such as “green” or “eco-friendly” in an attempt to improve marketability, when in fact these descriptors have not been verified by authorities,</br>
            Recalling all relevant treaties regarding sustainable tourism and development, specifically those which detail the outcomes of such endeavors, such as the Rio Declaration on Environment and Development and the outcome document of the United Nations Conference on Sustainable Development, entitled “The Future We Want”</br>
            Welcoming the continuous support of the United Nations Economic and Scientific Cultural Organization (UNESCO), The International Ecotourism Society (TIES), Conservation International (CI), World Wildlife Fund (WWF) in establishing ecotourism as a viable economic alternative to poverty-stricken communities,</br>
            Cognizant of the great potential for ecotourism as a means toward eradicating poverty, improving quality of life, protecting the environment, developing sustainably in developing countries, especially countries in the Sahel and sub-Saharan Africa with less developed economies,</br>
            Noting that that ecotourism promotes cross-cultural understanding and awareness of environmental challenges today,</br>
            Concerned with the potential damage ecotourism can have on a community if implemented hastily, without a coordinated plan, and unfairly,</br>
            Deploring the fact that populations indigenous to an area are, in many circumstances, removed from top-down decision-making processes and the trickle-down economy of eco-tourism businesses,
            <ul id="listpara">
            <li>Urgesall States which have assessed its ecotourism potential to regard eco-tourism as a joint-operation to be run by members of a community, in which decision making powers and profits are distributed equitably by boosting these communities’
            <ul id="listpara_2">
            	<li>Emergency preparedness, such as ability to forecast natural disasters, proper evacuation training, and methods to reduce losses, in order to lower dependence on multinational corporations,</li>
            	<li>Introducing different policies to strengthen regional identity and cultural heritageby:
                <ul id="listpara_3">
            		<li>Publishing advertisements of cultural identity,</li>
            
            		<li>Hosts of outreach events such as cultural fairs,</li>
            
            		<li>Promotion of due compensation for cultural merchandise,</li></ul></li>
            
            	<li>Giving the community the ability to specify ways to invest funds gained from ecotourism activity, with help of ecological advisers in order to help the community use funds for ecological and economic restoration and enhancement;</ul></li>
            
            <li>Further urgesall relevant stakeholders, such as member states, Non-Government Organizations and Non-Profit Organizations to continue their cooperation in order to identify a viable framework which contributes to maximization of benefits due to ecotourism, harvesting interdisciplinary expertise in spheres of legislation, ecology, economics and finance by:
            <ul id="listpara_2">
            	<li>Hosting conferences to further review standards of ecotourism based on principles detailed in communiqués from previous conferences on the development of sustainable tourism, as it is a young industry and requires consistent monitoring of its effectiveness, and adoption of new best practices, backed with empirical data as well as academic research,</li>
            	<li>Devising a thorough strategy for ecotourism development, whose first principles should be to maximize protection of the indigenous population, flora and fauna by:
                 <ul id="listpara_3">
            		<li>Taking measures to conserve biodiversity, natural and cultural attractions by: when appropriate, banning unlicensed hunting of endangered species; declaring areas of ecotourism as Protected Areas and severely punish violators; only allowing projects which will jeopardize these natural and cultural attractions such as mine-building, land developing, and tourist resort construction after thorough consultations with economic and ecological advisers and the indigenous populace; Setting standards for environmental impact of activities such as hotel construction and trailblazing through methods such as regulation of materials, area of land, and construction methods,</li>
            
            		<li>Reducing tourist activity in fragile areas to prevent ecological tampering,</li>
            
            		<li>Giving subsidies and encouragement to small and medium-sized companies intending to cooperate with the local population to develop ecotourism,</li>
            	</ul></li>
            
            	<li>Engaging in joint initiatives to stimulate ecotourism, by awarding grants to ecotourism companies and enlisting NGOs for innovative approaches to less impact tourism;</li></ul></li>
            	
            <li>Requests governments to regulate ecotourism companies by requiring them to educate ecotourists on ways to reduce their impact on the environment, such as refraining from littering, transporting species as this may cause the introduction of invasive species;</li>
            
            <li>Further requestsall member states to further promote ecotourism as a viable economic framework to eradicate poverty by:
            <ul id="listpara_2">
            	<li>Possibly declaring a year in the future to be the year of ecotourism, in which specific attention will be devoted to perfecting the ecotourism model and funding these specific activities,</li>
            
            	<li>Promoting sustainable tourism products and services with cooperation from the private sector in order to alert consumers to alternative ways to enjoy a vacation and benefit the environment,</li>
            
            	<li>Promoting natural and cultural attractions of indigenous communities by continuous exposure in the media, taking steps to teach school children appreciation of indigenous cultures, while taking steps to protect it,</li>
            
            	<li>Promoting of diverse cultures and appreciation for human rights through open campaigns and endorsement from the private sector,</li>
            
            	<li>Promoting beneficial environmental practices by helping indigenous communities to improve recycling capacity, energy efficiency, water conservation;</li></ul></li>
            
            <li>Encourages NGOs to carry out capacity building operations for ecotourism in order to allow the locals to reach self-sufficiency by:
            <ul id="listpara_2">
            	<li>Teaching locals methods to effectively manage their ecotourism business,</li>
            
            	<li>Creation of different opportunities for people who might have had their livelihood taken away from them with the introduction of sustainable environmental practices;</li></ul></li>
            
            <li>Asks all nations to take steps to prevent “Greenwashing” by establishing standardized procedures through a national body can rank an “ecotourism company” under these specific measures:
            <ul id="listpara_2">
            	<li>Further discussion and adoption of an international standards in order to certify sustainable ecotourism companies with a beneficial impact on the environmental, social, and economic development of the area, distinguishing them from purportedly “green” company which do not adhere to these guidelines of:
            <ul id="listpara_3">
            		<li>Bringing a positive Impact on environment by encouraging tourists to engage in activities that will be beneficial for the environment,</li>
            
            		<li>Having enhanced tourist interaction and exposure with nature and ecological processes, educating them about the natural world and the environment,</li>
            
            		<li>Involving the community and presenting economic opportunities with indigenous population,</li>
            
            		<li>Offering a range of Environmental activities,</li>
            
            		<li>Having a stable and sustainable income,</li></ul>
            
            	<li>Continuing Inspection of “ecotourism” companies in order for assessment of these standards,</li>
            
            	<li>Allowing customers to have reviews of companies, for ecotourism benefits and lessons learned,</li>
            
            	<li>Allowing locals to voice concerns about operation of ecotourism company.</li></ul></li>
            </ul>
            
            
            </p>
            
            
                       
                  
      
      
      
      
      
      
      
      
      
      
        </link>
    </body>
</html>