<html>
<head>
<%= render "layouts/navigation" %>
</head>
<div class="wrap">
<div class="wrap">

  <%= render "layouts/sidenav" %>

  
  <!--Body content-->
  <div class="content">
    <div class="top-bar">       
      <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>      
    </div>
    <section class="content-inner">
      <h3 id="pagetitle">Welcome to THIMUN O-MUN Security Council
</h3>
      <p id="resources_paragraphs">Topic: Threats to International Peace and Security Caused by Terrorist Acts: Protection of Critical Infrastructure (THIMUN-S)<br><br>

Date: Lobbying - April 1st / Debate -April 2nd<br><br>

Time: 13:00 UTC. For your local time, please check the timezone converter,<a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=OMUN+General+Assembly+April+Debate&iso=20170402T13&p1=%3A"> click here</a>.<br><br>

Registration: To register for this debate, click here Note that you must be logged into the website to access the registration form.<br><br>

For more information please contact members of debate team 3:<br><br>

Assistant Director : Haseeb Malik<br>
DSG of Debate Team: Lydia Lampiri<br>
EAO of Taiwan: Thomas Kim<br>
EAO of China: Wesley Ding<br>
PLEASE NOTE THAT PREFERENCE IS GIVEN TO DELEGATES WHO HAVE BEEN CONSISTENTLY ATTENDING BOTH LOBBYING AND <br>DEBATE SESSIONS. ALSO, IT IS MANDATORY TO ATTEND BOTH LOBBYING AND DEBATE SESSIONS.<br>

Moderating Team:<br><br>

Chair: TBA<br>
Deputy Chair: TBA<br>
Tally Moderator: TBA
 </p>
    </section>
  </div>  
  
</div>
</html>