<html>
    <body>
        
        <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
        
        
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Specific Rules and Procedures for Online Debates</p>
             </link>
            

           <p id="contentpara">Process of the Online Debate:
                <ul id="listpara">
                <li>Lobbying and Opening Policy statements take place during the 30 minute pre-debate lobbying time in the Ambassador’s Lounge set up for this purpose.</li>
                <li>The Chair then opens the formal session by introducing the Moderating Team, quickly reviewing the features of the Blackboard Collaborate classroom and announcing the guillotine time (i.e. the maximum time available for debate - usually 90 minutes) for the debate on the resolution.</li>
                <li>A roll call is taken. Delegates reply by saying “Present and voting.” Non-member delegates should reply “Present”. Those delegates who are late or absent will be noted by the Tally Moderator.</li>
                <li>The Amendments Moderator pulls the resolution into TitanPad. The Chair sets a three to five minute reading period for the resolution. The operative clauses need not be read out by the main submitter.</li>
                <li>The Chair sets a debate time and explains that this is an open debate. In open debate delegates may speak either in favor or against the resolution, when they have the floor.</li>
                <li>The main submitter then has the floor to speak on the resolution. When the main submitter has concluded his speech, he may yield to points of information or yield the floor either to the Chair or to another delegate.</li>
                <li>The Chair then chooses who will ask the points of information or the next delegate to speak as appropriate.</li>
                <li>The Chair then recognizes a succession of delegates in turn to speak on the resolution. Speakers should explain why they think the resolution is good or bad, highlighting its main strengths or weaknesses and urging the house to vote in favor or against. Speakers may yield to points of information and may propose amendments in an attempt to improve the resolution.</li>
                <li>Once debate time has elapsed and after a balanced debate, the previous question (calling for closure of debate) is moved and voting procedure commences. During voting procedure, note-passing is suspended and no points, except Points of Order pertaining to the voting procedure, will be entertained.<br>Only Member States of the UN may vote either in favor or against, or abstain. NGOs, IGOs, and non-member states do not have voting rights.</br>A simple majority is required for a resolution to pass.</li>
                <li>The Chair announces the result of the vote. If the resolution has passed, the delegates may applaud the constructive accomplishment. However, if a resolution fails, clapping is not in order.</li>
                <li>After the result of the voting procedure has been announced and time permitting, a number of delegates may be recognized to explain their vote. The Chair will try to recognize both delegates who voted in favor and those who voted against or abstained.</li>

                
                </p>
                </ul>



         

          
        </link>
    </body>
   
    
    
    
</html>