<html>
<head>
<%= render "layouts/navigation" %>
</head>
<div class="wrap">
<div class="wrap">

  <%= render "layouts/sidenav" %>

  
  <!--Body content-->
  <div class="content">
    <div class="top-bar">       
      <a href="#menu" class="side-menu-link burger"> 
        <span class='burger_inside' id='bgrOne'></span>
        <span class='burger_inside' id='bgrTwo'></span>
        <span class='burger_inside' id='bgrThree'></span>
      </a>      
    </div>
    <section class="content-inner">
      <h3 id="pagetitle">Welcome to THIMUN O-MUN Special Conferences
</h3>
      <p id="resources_paragraphs">Committee: United Nations Women<br><br>

Topic:Promoting The Inclusive Political Participation Of Women<br><br>

 Date:  November 5, 2016<br><br>

Time: 13:00 UTC. For your local time, please check the time zone converter,<a href="https://www.timeanddate.com/worldclock/fixedtime.html?msg=OMUN+General+Assembly+April+Debate&iso=20170402T13&p1=%3A"> click here</a>.<br><br>

Registration: To register for this debate, click here! Note that you must be logged into the website to <br><br>access the registration form.

For more information please contact any of the following members of Debate Team 2 :<br><br>

Assistant Director: Noor Freg<br>
Deputy Secretary General: Irene Ann Promodh<br>
EAO of Republic of Korea: Young Park<br>
EAO of Bangladesh: Anaam Choudhury<br>
Moderating Team:<br><br>

Chair: <br>
Co-Chair: <br>
Amendments Moderator: <br>
Tally Moderator: 
 </p>
    </section>
  </div>  
  
</div>
</html>