<html>
     <%= render "layouts/navigation" %>
    <body>
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Speech Making and Forms of Address</p>
             </link>
            

           <p id="contentpara"> 
            All speeches and questions are addressed either to the Chair or through the Chair. All speeches should, therefore, begin by the speaker addressing the Chair, </br>
            e.g. </br>“<em>Mr.(or Madam) Chair</em>...", before continuing with a phrase such as: "<em>fellow delegates</em>..." 
            or "<em>ladies and gentlemen of the house</em>...”

            Delegates should generally refer to themselves and to other delegates in the third person </br>e.g.</br>
            
            <em>"... the delegation of Argentina supports this resolution because..."</em>
            
            <em>As the honorable delegate of Sri Lanka has told the house</em>
            
            In other words, delegates should avoid the use of the first and second person pronouns: <em>I/me, we/us</em> and <em>you</em> except in set phrases such as "<em>I rise to a point of information</em>" or "<em>I yield the floor</em>.
            
            All points of information must be formulated as questions and so should begin with a phrase such as:<br />
            “<em>Is the Chair/speaker aware that</em>...”
            
            Delegates should come to a clear conclusion at the end of their speech </br>e.g.</br>
            
            <em>Therefore, the delegation of Argentina urges the committee to vote in favor of this resolution and I am now open to points of information</em>

           
           </p>
            


       
       
       
       
          
        </link>
    </body>
   
    
    
    
</html>