<html>
    <body>
        
        <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
        
        
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Stock Chairing Phrases</p>
             </link>
                        
            <h4 class="heading4">IF A READING TIME IS TO BE SET:</h4>
            <p id="contentpara"> Chair: The house will now come to order. The Chair sets a reading time of ___ minutes for this resolution. (Optional: Please use this time wisely to look over the resolution, highlight areas of concern, and start writing amendments or points of information for this resolution)</p>
            <h4 class="heading4">STARTING DEBATE:</h4>
            <p id="contentpara"> Chair: The Chair now sets an open debate time of ___ minutes on this resolution. Delegate, you now have the floor.</br>
            Delegate: (delivers opening speech)</br>
            Chair: Thank you Delegate. Is the Delegate open to any points of information?</br>
            Delegate: (states any number)</br>
            Chair: The Delegate of ___ has opened himself/herself to ____ Points of Information. Are there any in the house at this time? The Delegates of ____, _____, and _____ you have been recognized in that order. (It is recommended for Chairs to only call on 3-5 delegates for the first speaker and 2-3 for any subsequent speakers.)</br>
            Delegates: (state their Points of Information)</br>
            Chair: Thank you. Would the Delegate please yield the floor back to the Chair or to another Delegate?</p>
            <h4 class="heading4">IF THE DELEGATE YIELDS THE FLOOR BACK TO THE CHAIR:</h4>
            <p id="contentpara"> Chair: That is in order. The floor is now open. Are there any Delegates that wish to speak on this resolution as a whole? The Delegate of ____, you have been recognized. You now have the floor.</p>
            <h4 class="heading4">IF THE DELEGATE YIELDS THE FLOOR TO ANOTHER DELEGATE:</h4>
            <p id="contentpara"> Chair: Does the Delegate accept the yield? That is in order. The Delegate of _____, you have been recognized. You now have the floor.</p>
            <h4 class="heading4">ENTERTAINING AMENDMENTS</h4>
            <h4 class="heading4">MOVING AN AMENDMENT</h4>
            <p id="contentpara"> 
            Chair: The floor is open; are there any Delegates wishing to take the floor?</br>
            Delegate: The Delegate has submitted an amendment to the first/second degree.</br>
            Chair: That is in order. The amendment to the first/second degree reads ____. The Chair sets a closed debate time of ___ minutes for and ___ minutes against this amendment to the first/second degree. Delegate, you now have the floor.</p>
            <h4 class="heading4">WHEN TIME FOR AN AMENDMENT HAS ELAPSED:</h4>
            <p id="contentpara"> Chair: Time for this amendment to the first/second degree has now elapsed. We will now move directly into time against this amendment to the first/second degree. Are there any Delegates that wish to speak against this amendment to the first/second degree?</p>
            <h4 class="heading4">WHEN TIME AGAINST AN AMENDMENT HAS ELAPSED:</h4>
            <p id="contentpara"> Chair: Time against this amendment to the first/second degree has now elapsed. We will move directly into voting procedures for this amendment to the first/second degree. Would the chat moderator please suspend note passing. Delegates may vote for or against or abstaining.  Delegates, please choose the appropriate letter, A – For, B – Against, C – Abstain.  Please be reminded that all observer nations or non-governmental organizations cannot vote.  Thank you. With ___ votes for and ____ against and ____ abstaining, this amendment passes/fails.</p>
            <h4 class="heading4">WHEN VOTING ON A RESOLUTION:</h4>
            <p id="contentpara"> Chair: Seeing as debate time on this resolution has elapsed, we will now move directly into voting procedures on this resolution as a whole. Would the chat moderator please suspend note passing. Delegates may vote for or against or abstain. All Delegates wishing to vote for this resolution please select A. All Delegates that wish to vote against this resolution please select B.  Delegates wishing to abstain on this resolution please select C.  Please be reminded that observer nations or non-governmental organizations may not vote. With ___ votes for, ____ votes against, and ____ abstentions, this resolution passes/fails. </p>
            <h4 class="heading4">IF IT PASSES:</h4>
            <p id="contentpara"> Chair: Clapping is in order.</p>
            <h4 class="heading4">IF IT FAILS:</h4>
            <p id="contentpara"> Chair: Clapping is not in order</p>
            <h4 class="heading4">Entertaining Notions ENTERTAINING POINTS OF ORDER/PERSONAL PRIVILEGE/INFORMATION TO THE CHAIR</h4>
            <p id="contentpara"> Chair: There has been a point of order/personal privilege/information to the Chair. Please click the talk button and state your point.</p>
            <h4 class="heading4">POINT OF ORDER, IF THE DELEGATE IS WRONG</h4>
            <p id="contentpara"> Chair: Thank you for your point. That is not in order because … (explain why)</p>
            <h4 class="headin43">POINT OF ORDER, IF THE CHAIR IS WRONG</h4>
            <p id="contentpara"> Chair: Thank you for your point. The Chair stands corrected.</p>
            <h4 class="heading4">POINT OF PERSONAL PRIVILEGE REFERRING TO AUDIBILITY</h4>
            <p id="contentpara"> Chair: That is in order. Would the speaker please speak louder?</p>
            <h4 class="heading4">POINT OF PERSONAL PRIVILIEGE REFERRING TO ANYTHING ELSE</h4>
            <p id="contentpara"> Chair: That is in order. (Ask Co-Chair or Chat Moderator to assist)</p>
            <h4 class="heading4">POINT OF INFORMATION TO THE CHAIR</h4>
            <p id="contentpara"> Chair: Thank you for your point. (Answer the question to the best of your ability)</p>
            <h4 class="heading4">ENTERTAINING A MOTION</h4>
            <p id="contentpara"> Chair: There has been a motion to ____. Are there any seconds? Are there any objections? The motion will be entertained/not entertained, because ____ (explain why)</p>
            <h4 class="heading4">ENTERTAINING A MOTION TO MOVE THE PREVIOUS QUESTION</h4>
            <p id="contentpara"> Chair: There has been a motion to move the previous question. Are there any seconds? Are there any objections?</p>
            <h4 class="heading4">IF IT IS TO BE ENTERTAINED:</h4>
            <p id="contentpara"> Chair: That will be entertained. We will now move directly into time against/voting procedures on this amendment/resolution.</p>
            <h4 class="heading4">IF IT NOT TO BE ENTERTAINED:</h4>
            <p id="contentpara"> Chair: That will not be entertained, because ____ (clearly explain why)</br>
            Entertaining Points of Information – different scenarios</p>
            <h4 class="heading4">IF THE DELEGATE OPENS HIMSELF/HERSELFT TO A NUMBER OF POINTS OF INFORMATION:</h4>
            <p id="contentpara"> Chair: The Delegate has opened himself to ____ Points of Information. Are there any Points of Information in the house at this time?</p>
            <h4 class="heading4">IF THERE ARE TIME CONSTRAINTS:</h4>
            <p id="contentpara"> Chair: The Delegate has opened himself to any and all ____ points of information, but due to time constraints the Chair will entertain ____. Are there any Points of Information in the house at this time?</p>
            <h4 class="heading4">IF DELEGATES DO NOT OPEN THEMSELVES TO POINTS OF INFORMATION:</h4>
            <p id="contentpara"> Chair: The Delegate has not opened himself/herself to any points of information. As such, would the Delegate please yield the floor to the Chair or to another Delegate?</p>
            <h4 class="heading4">IF THERE ARE NO POINTS OF INFORMATION IN THE HOUSE</h4>
            <p id="contentpara"> Chair: Seeing as there are none, would the Delegate please yield the floor back to the Chair or to another Delegate?</p>
            <h4 class="heading4">Miscellaneous</h4>
            <p id="contentpara"> Chair: The Chair would like to remind the house that Delegates are required to speak in third person. Therefore, the use of personal pronouns such as “you” and “I” are not permitted. </br>
            Chair: Would the Delegate please state his/her Point of Information in the form of a question?</br>
            Chair: Would the Delegate please ask only one Point of Information?</br>
            Chair: Would the Delegate please repeat/rephrase his/her Point of Information?</br>
            Chair: There is to be no direct dialogue between delegates.</br>
            Chair: Due to time constraints/in the interest of debate, would the Delegate please yield the floor back to the Chair?</p>

          
        </link>
    </body>
   
    
    
    
</html>