<html>
    <body>
         <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
        
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">The Technology</p>
            </link>
            

           <p id="contentpara"> Online Model United Nation’s program is made up of three integrated parts: our website, our online conference room, and our social media community.  </p>

            <h3 class="heading3">Website:</h3>
            
            <p id="contentpara"> Our website is home to all our program information, leadership bios, technical and troubleshooting info, and our calendar of upcoming debates. Students and Directors are encouraged to register on our website.</br>
            
            If you wish to participate in debates, you are able to register by logging into the webpage and clicking on the calendar event.</br>
            
            A simple search will also bring you to MUN resources, online resources, information on travel teams, student blogs, and more.</p>
            
            <h3 class="heading3">Blackboard Collaborate Online Conference Rooms</h3>
            
            <p id="contentpara"> Known to delegates as the meeting room, this online space is where delegates gather to collaborate, lobby and debate. It is the equivalent to a classroom or auditorium. This online forum has unique, easy to use technology features such as chat, audio/video, presentation space and polling functions that make a virtual space come to life as a debate platform.</br>
            
            The second half of this guide serves as an introduction to BbC and how it is specifically used to create an online Model UN debate. </br>
            
            Our debates and lobbying sessions take place in a Blackboard Collaborate virtual conference room. Students log in and by answering a few questions, are prioritized in the room as a delegate, moderator, chair or guest. We keep to the audio features in the room only (no video), and use the classroom’s features to vote and pass notes. We use THIMUN rules exclusively to conduct online debates. </p>
            
            <h3 class="heading3">Social Media Sites</h3>
            
            <h4 class="heading4">Facebook</h4>
            
            <p id="contentpara"> We have an extremely active Online Debate’s community on Facebook. Keep track of all O-MUN’s activities by liking our public page at https://www.facebook.com/onlinemun. Then, join one of our many global or regional groups and keep connected with fellow delegates. A few of our groups include</br>
            
            O-MUN Delegates</br>
            
            O-MUN Middle East/Africa (and other regional groups) </br>
            
            THIMUN O-MUN ICJ</br>
            
            Facebook is used to connect participants socially, to facilitate in the sharing of delegate preparation information, and to keep students and advisors abreast of important conference and debate deadlines and meetings. Our public page is updated continuously throughout the day with THIMUN O-MUN news.</p>
            
            <h4 class="heading4"> MIghtyBell</h4>
            
            <p id="contentpara"> For O-MUN’s larger debates we create an online content aggregation site. Students are sent an invitation to this private space at the time of their debate registration. Delegates are then encouraged to post resources: documents, webpages, video links, even Chair Research Reports. </br>
            
            Once a debate is over, the site if made public (with no ability to add or edit), thereby becoming a permanent research site on the topic. All past MightyBell research sites can be found in our archives at http://onlinemodelunitednations.org/resources/resources-for-delegates/mighty-bell-research-sites/</p>
            
            <h4 class="heading4">Twitter</h4>
            
            <p id="contentpara"> Twitter can used to deliver pertinent content links related to debate topics and United Nation’s news in general. Chairs and Assistant Directors (ADs) will facilitate the creation of lists around the topic to be debated, and encourage all participants to follow and discuss the issues at hand. Delegates and advisors can follow O-MUN on Twitter by searching for ‘onlinemun’ and looking for the O-MUN logo. </br>
            
            Every Tuesday we hold Twitter Talks on a predetermined topic. Students can participate in our Twitter Tuesday talks by searching and using the hashtag  #omun.</p>
            
            
            
            
            
                       
                  
                  
      
      
      
      
      
      
      
      
      
        </link>
    </body>
</html>