<html>
    <body>
        
        <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->

        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">THIMUN O-MUN Rules and Procedures</p>
             
            

           <p id="contentpara"> 
            An online debate procedurally models a THIMUN debate. THIMUN rules and procedures will be followed and modified only in the rare instances where the virtual environment dictates.
            For all questions relating to the use of the technology for online debating, delegates are referred to the O-MUN Delegate Guide, available on the website.</br>
            Delegates are also referred to the following publications:</br>
                <ul id="listpara">
                <li>Williams/Stein: Uniting the Nations through Model United Nations</li>
                <li>Uday Rai Mehra: How to help Delegates Become Prepared (Downloadable from THIMUN website)</li>
                <li>Guidelines for New Delegates (Downloadable from THIMUN website)</li></p>
                </ul>



            <p id="contentpara">Delegates should be aware that the purpose of the rules is to facilitate debate and to accord to all delegates their democratic right to voice an opinion. The rules will be applied to this end and abuse or misuse of the rules for obstructive or restrictive purposes will not be tolerated.</p>
            <h3 class="heading3">United Nations Charter</h3>
            <p id="contentpara"> Delegates must, at all times, act in accordance with the articles and principles of the United Nations Charter and the Universal Declaration of Human Rights.</p>
            <h3 class="heading3">Diplomacy</h3>
            <p id="contentpara">Each delegate must act according to diplomatic norms, including the duty to:
            <ul id="listpara">
                <li>Respect the decisions of the Chair at all times.</li>
                <li>Obtain the floor before speaking.</li>
                <li>Yield the floor when required to do so by the Chair.</li>
                <li>Be courteous at all times.</li>
                <li>Avoid the use of insulting or abusive language.</li>
            </ul>
            </p>
          </br></br>
          <hr class="style14">
          
           <ul id="listpara" style="list-style-type:none">
                <li><a href="/speech-making-and-forms-address">Speech Making and Forms of Address</a></li>
                <li><a href="/opening-speeches-policy-statements-and-draft-resolutions">Opening Speeches, Policy Statements and Draft Resolutions</a></li>
                <li><a href="/commonly-used-terms">Commonly Used Terms</a></li>
                <li><a href="/debate-procedure">Debate Procedure</a></li>
                <li><a href="/specific-rules-and-procedures-online-debates">Specific Rules and Procedures for Online Debates</a></li>
                <li><a href="/draft-resolution">The Draft Resolution</a></li>
                <li><a href="/words-and-phrases-drafting-resolutions">Words and Phrases-Drafting Resolutions</a></li>
                <li><a href="/stock-chairing-phrases">Stock Chairing Phrases</a></li>
            </ul>
            
            
            
            
            
            
            </link>    
        </link>
    </body>
   
    
    
</html>