<html>
    <body>
         <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
        
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">THIMUN O-MUN Vision</p>
            </link>
            

           <p id="contentpara"> 
                O-MUN believes in democratizing the availability of the Model United Nations experience, to engage all high school students in the collaborative process of problem solving and consensus building, and to foster leadership and positive engagement through the discussion and debate of the world’s most pressing problems.</br></br>
                O-MUN believes that there is inherent worth in bringing together diverse groups of students, across different cultures and vast geographic distances, in real time, for the process of gaining knowledge and laying the foundation for openness and understanding between people.</br></br>
                O-MUN believes in the leveling effect of technology, and supports, through its academic program, the ability to bring diverse students together in an online environment, working together and at the highest academic standards, to promote human development, tolerance, and peace.</br></br>
           </p>


           
      
      
      
      
      
      
      
      
      
      
      
        </link>
    </body>
</html>