<html>
    <body>
         <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
        
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">THIMUN O-MUN Delegate Guide</p>
            </link>
            

           <p id="contentpara"> 
                <ul style="list-style-type:none" id="links">
                    <li><a href="/thimun-o-mun-vision">THIMUN O-MUN Vision</a></li>
                    <li><a href="/introduction">Introduction</a></li>
                    <li><a href="/technology">The Technology</a></li>
                    <li><a href="/debating-blackboard-collaborate">Debating in Blackboard Collaborate</a></li>
                    <li><a href="/debate-procedure-step-step">Debate Procedure: Step by Step</a></li>
                    <li><a href="/rules-procedures-online-equivalents">Rules and Procedures: Online Equivalents</a></li>
                    <li><a href="/debate-cycles-country-assignments">Debate Cycles and Country Assignments</a></li>
                    <li><a href="/moderating-chairing">Moderating and Chairing</li>
                </ul>
            </p>


           
      
      
      
      
      
      
      
      
      
      
      
        </link>
    </body>
</html>