
<%= render "layouts/navigation" %>
<br><br><br>


<h1>Troubleshooting</h1><br>
If you are having tech issues, or need a general overview of how our online classroom works, this page is for you! <br><
<h1 id="pagetitle">Troubleshooting</h1><br>
<p id="resources_paragraphs">If you are having tech issues, or need a general overview of how our online classroom works, this page is for you! <br><br>


Conference Room Login: In order to log into our conference rooms, click here.<br><br>

BlackBoard Collaborate Overview: For an orientation on how BbC works, click here for a brief tutorial.<br><br>

Computer Configured Correctly and Java Ready? Click here.<br><br>

Chat Box Not Working?  Your Java cache needs to be emptied. Click here for instructions on how to take out the trash.<br><br>

Blackboard Collaborate User Guide? Click here and here.<br><br>

MAC User Guide/Troubleshooting?  Click here.<br><br>

Additional Issues? See below for a few tips and pointers.<br><br>

Close any Java instances that are currently open or restart your computer<br>
Go to Task Manager and force quit any processes that have the name Java or .jre in the name<br>
Do you use a proxy server? If so, go update the Java settings. If you don’t know what that is, ask your parents or <br>whomever set up the internet connection, or you can check for yourself in Internet Explorer under Internet Settings. <br>
Java settings are in the Control Panel (PC) or search in the top right hand corner on a Mac. Go to the following link <br>for MAC specific assistance. http://www.java.com/en/download/help/mac_java_cache.xml<br>
If you get a message to the effect of “the server has moved”<br>
Close all instances of Java / BbC currently open (do not click Retry;  it won’t work)<br>
Use the login link you got and open up the new dropin.jnlp file that is downloaded<br>
If your room reloads itself frequently choose a lower internet speed setting when you log in<br>
If you get the message “Unable to launch the application" clear the Java cache (all the Temporary Internet Files) using<br> Java settings in the Control Panel<br>
You get the message “Connection failed”, you might not have internet connection or your internet ports/firewall or <br>proxy might be a problem. If so then you might need to click on Retry a couple of times to get through.<br>

Here are two other helpful website that discuss Blackboard issue and possible solutions: http://etopics.missouri.<br>edu/questions/110/Troubleshooting+Blackboard+Collaborate+Audio+Issue

Here are two other helpful website that discuss Blackboard issue and possible solutions: http://etopics.missouri.<br>edu/questions/110/Troubleshooting+Blackboard+Collaborate+Audio+Issue</p>

