<html>
    <body>
          <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">The UN Guide on Model United Nations</p>
             </link>
            

           <p id="contentpara"> 
            The United Nations Department of Public Information (UNDPI) has recently released its recommended rules and procedures for MUN conferences. This document, geared primarily towards conference organizers, seeks to add a greater degree of realism to the Model United Nations community. These guidlelines address ways in which a conference can more accurately simulate the actual work on the United Nations. Interested delegates and directors can find the link to the UNDPI's recommendations at http://outreach.un.org/mun/guidebook/. 
            </p> 



       
      
        </link>
    </body>
   
    
    
    
</html>