     <html>
     <%= render "layouts/navigation" %>


     <h3 id="pagetitle">Getting Started</h3><br><br>
      <p id="resources_paragraphs">Online Model United Nations (O-MUN) mirrors the popular Model United Nation’s simulation. Students are assigned different countries, who  in turn research a problem, attempt to find a solution, and ultimately work through this potential solution in a highly structured debate. In keeping with The Hague International Model United Nation's philosphy, the debates are run and organized by students, for students. The difference with O-MUN is that all of this occurs online, the students are from diverse locations around the world, and the debates are run along traditional lines but using technology easily available to everyone.<br><br>

The first questions people ask is "How can you debate online and does it really sound like an Model United Nations debate? The answer is, "Yes, and YES!"  Here's a video of an online debate. It will give you a feel for how O-MUN works.
 </p>


 <iframe width="560" height="315" src="https://www.youtube.com/embed/Va8XBLVQoAw" frameborder="0" allowfullscreen></iframe>

</html>