<h1 style="font-size:60px;margin-left:20px;"><strong>Welcome Aboard!</strong></h1>
<h2 style="font-size:35px;margin-left:22px;">Only one more step to go... </h2>
<p  style="font-size:18px;line-height:20px;margin-left:25px;margin-top:20px;color:grey;;" > Look for an email from us within the next 48 hours to validate your account.<br>
After you've validated your account you will be able to create events, post <br> on the blog, and connect with thousands of students around the world. </p>
<a href="/" class="btn btn-default" style="margin-left:25px;margin-top:20px;"> Back to the website</a>