<html>
    <body>
        
        <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
        
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Words and Phrases-Drafting Resolutions</p>
             </link>
            

            <p id="contentpara">          
            The following words should be used when starting your clauses. See the resolution example on the previous page.</br>
            
            <h4 class="heading4">The Preamble</h4>
            <p id="contentpara"> 
            Acknowledging</br>
            
            Affirming</br>
            
            Alarmed</br>
            
            Approving</br>
            
            Aware</br>
            
            Believing</br>
            
            Bearing in mind</br>
            
            Confident</br>
            
            Congratulating</br>
            
            Contemplating</br>
            
            Convinced</br>
            
            Declaring</br>
            
            Deeply concerned</br>
            
            Deeply conscious</br>
            
            Deeply convinced</br>
            
            Deeply disturbed</br>
            
            Deeply regretting</br>
            
            Deploring</br>
            
            Desiring</br>
            
            Emphasizing</br>
            
            Expecting</br>
            
            Expressing its appreciation</br>
            
            Expressing its satisfaction</br>
            
            Fulfilling</br>
            
            Fully alarmed</br>
            
            Fully aware</br>
            
            Fully believing</br>
            
            Further deploring</br>
            
            Further recalling</br>
            
            Guided by</br>
            
            Having adopted</br>
            
            Having considered</br>
            
            Having considered further</br>
            
            Having devoted attention</br>
            
            Having examined</br>
            
            Having heard</br>
            
            Having received</br>
            
            Having studied</br>
            
            Keeping in mind</br>
            
            Noting further</br>
            
            Noting with appreciation</br>
            
            Noting with approval</br>
            
            Noting with deep concern</br>
            
            Noting with regret</br>
            
            Noting with satisfaction</br>
            
            Observing</br>
            
            Pointing out</br>
            
            Reaffirming</br>
            
            Realizing</br>
            
            Recalling</br>
            
            Recognizing</br>
            
            Referring</br>
            
            Reminding</br>
            
            Seeking</br>
            
            Taking into account</br>
            
            Taking into consideration</br>
            
            Taking note</br>
            
            Viewing with appreciation</br>
            
            Welcoming</br>
            
            </p>
            <h4>In the Operative Clauses</h4>
            <p id="contentpara"> 
            Accepts</br>
            
            
            Affirms</br>
            
            Approves</br>
            
            Asks</br>
            
            Authorizes</br>
            
            Calls for</br>
            
            Calls upon</br>
            
            Condemns</br>
            
            Congratulates</br>
            
            Confirms</br>
            
            Declares accordingly</br>
            
            Deplores</br>
            
            Designates</br>
            
            Encourages</br>
            
            Endorses</br>
            
            Expresses its appreciation</br>
            
            Expresses its hope</br>
            
            Further invites</br>
            
            Further proclaims</br>
            
            Further recommends</br>
            
            Further requests</br>
            
            Further resolves</br>
            
            Hopes</br>
            
            Invites</br>
            
            Proclaims</br>
            
            Proposes</br>
            
            Recommends</br>
            
            Regrets</br>
            
            Requests</br>
            
            Resolves</br>
            
            Seeks</br>
            
            Strongly affirms</br>
            
            Strongly condemns</br>
            
            Strongly urges</br>
            
            Suggests</br>
            
            Supports</br>
            
            Trusts</br>
            
            Transmits</br>
            
            Urges</br>
            
            
            Note that no two clauses should begin with the same opening word or phrase and that the words "Further" and "Still further" can be used to avoid this e.g.</br>
            In the preamble: "Recalling" followed by "Further recalling" followed by "Still further recalling"</br>
            In operative clauses: "Calls for" followed by "Further calls for" followed by "Still further calls for"</br></p>
            </p>
            
 
        </link>
    </body>
   
    
    
    
</html>