<html>
    <body>
        <!--Navigation bar code statrs here -->
        <%= render "layouts/navigation" %>
        <!--Navigation bar code ends here -->
        
        <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
             <p id="pagetitle">Writing a THIMUN Resolution</p>
            </link>
            

           <p id="contentpara"> 
            This brief guide will walk you through the steps of writing a THIMUN resolution.</br>
                <ul style="list-style-type:none" id="links">
                    <li><a href="/purpose-resolution">Purpose of a Resolution</a></li>
                    <li><a href="/heading">The Heading</a></li>
                    <li><a href="/first-line">The First Line</a></li>
                    <li><a href="/preambulatory-clauses">Preambulatory Clauses</a></li>
                    <li><a href="/operative-clauses">Operative Clauses</a></li>
                    <li><a href="/sample-resolution">Sample Resolution</a></li>
                </ul>
            </p>



           
      
      
      
      
      
      
      
      
      
      
      
        </link>
    </body>
</html>