<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>
    <div class="row" style="margin-left:30px;">
      
    
      
  <div class="form-inputs">

      
    <div class="row">
      <div class="col-lg-6">
    <%= f.input :title, label: false, placeholder: "Subject" %>
      </div>
    </div>
    <div class="row">
    <div class="col-lg-8">
    <%= f.input :body, label: false,:input_html => {:rows => 8},  placeholder: "Write any suggestion, comment, or inquiry you may have..." %>
    <%= f.input :recp, label: "Send your Inquiry to", collection: [["Lisa Martin","Lisa Martin"],["Saqib Mahmoud", "Saqib Mahmoud"],["Both","Both"]] %>
    </div>
  </div>
  </div>

    
  <div class="form-actions">
    <%= f.button :submit, "Submit" %>
  </div>

<% end %>


</div>