<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.fname %></h1>
    <p>
      A new user has registered with the following details:<br>
      <br>
      <strong>Name:</strong> <%= @new_user.fname %> <%= @new_user.lname %><br>
      <strong>Email:</strong> <%= @new_user.email %><br>
      <strong>Occupation:</strong> <%= @new_user.occupation %><br>
      <strong>Country:</strong> <%= @new_user.counrty %><br>
      <strong>School:</strong> <%= @new_user.school %><br>
    </p>
    
    <p>Follow <a href="https://thimun-ahmedabdultawab.c9users.io/users/"> This Link </a> to manage your users </p>
  </body>
</html>