.wrap {
  position: relative;
}
.wrap .nav-bar .navbar-brand {
  margin-top: 15px;
}
.wrap .nav-bar .navbar-form {
  margin-top: 25px;
}
.wrap .nav-bar .nav {
  float: right !important;
}
.wrap .nav-bar .nav .dropdown span.fa,
.wrap .nav-bar .nav .dropdown span.caret {
  margin-right: 10px;
}
.wrap .nav-bar .nav .dropdown-menu {
  background: #222;
  left: auto;
  width: 200px;
  right: 0;
}
.wrap .nav-bar .nav .dropdown-menu > li > a {
  color: #ddd;
  padding: 8px;
}
.wrap .nav-bar .nav .dropdown-menu > li > a:hover {
  background: #3355ff;
}
.wrap .side-menu-link {
  left: 21em;

}
.wrap .burger {
  position: relative;
  width: 35px;
  height: 30px;
  left: 10px;
  top: 5px;
  z-index: 500000;
}
.wrap .burger .burger_inside {
  position: absolute;
  background-color: #222;
  width: 30px;
  height: 5px;
  left: 2.5px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -ms-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
.wrap .burger #bgrOne {
  top: 0;
}
.wrap .burger #bgrTwo {
  top: 10px;
}
.wrap .burger #bgrThree {
  top: 20px;
}
.wrap #side-menu {
  position: fixed;
  z-index: -1;
  background: white;
  width: 21em;
  padding-top: 40px;
  padding-right: 20px;
  padding-left: 10px;
  float: left;
  display: block;
  left: 0;
  height: 900px;
}
.wrap .content {
  position: absolute;
  right: 0;
  min-width: 400px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.wrap .content .top-bar {
  height: 40px;
  background: white;
}
.wrap .content .content-inner {
  padding: 0;
  margin: 0;
  background: #fff;
  padding-left: 20px;
  display: block;
  position: absolute;
  height: 900px;
  width: 100%;
}
.wrap ul.accordion {
  width: 100%;
  background: transparent;
}
.wrap ul.accordion .link {
  cursor: pointer;
  display: block;
  padding: 15px 15px 15px 42px;
  color: #9D9D9D;
  font-size: 14px;
  font-weight: 700;
  border-bottom: 1px solid #303030;
  position: relative;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.wrap ul.accordion li:not(open) last-child .link {
  border-bottom: 0;
}
.wrap ul.accordion li i {
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 18px;
  color: #999;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.wrap ul.accordion li i.fa-chevron-down {
  right: 12px;
  left: auto;
  font-size: 16px;
}
.wrap ul.accordion li.open .link {
  color: #FFB266;
}
.wrap ul.accordion li.open i {
  color: #FFB266;
}
.wrap ul.accordion li.open i.fa-chevron-down {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}
.wrap ul.accordion ul.submenu {
  display: none;
  background: transparent;
  font-size: 14px;
  padding: 0;
}
.wrap ul.accordion ul.submenu li {
  border-bottom: 1px solid #4b4a5e;
  list-style: none;
}
.wrap ul.accordion ul.submenu li a {
  display: block;
  text-decoration: none;
  color: #d9d9d9;
  padding: 12px;
  padding-left: 42px;
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}
.wrap ul.accordion ul.submenu li a:hover {
  background: rgba(240, 128, 128, 0.8);
  color: #ffb266;
}
@media screen and (max-width: 768px) {
  .wrap .nav-bar .navbar-brand {
    margin-top: 0;
    padding-left: 0;
  }
  .wrap .side-menu-link {
    display: inline-block;
  }
  .wrap #side-menu #qform {
    position: absolute;
    top: 10px;
  }
  .wrap .content {
    left: 0;
  }
  .wrap.active .content {
    left: 21em;
  }
  .wrap.active .content #bgrOne {
    top: 10px;
    transform: rotate(225deg);
  }
  .wrap.active .content #bgrTwo {
    opacity: 0;
  }
  .wrap.active .content #bgrThree {
    top: 10px;
    transform: rotate(315deg);
  }
}
@media screen and (min-width: 769px) {
  .side-menu-link {
    display: none;
  }
  .wrap {
    position: relative;
  }
  .wrap .content {
    left: 21em;
    right: 0;
  }
}


.element.style{
    background-color:white;
  
}
#resources_paragraphs {
    font-family: 'Hind', sans-serif;
    font-size: 20px;
    line-height:140%;
    padding-left: 90px;
    padding-top: 40px;
    padding-right: 280;
    padding-bottom: 50px;
    position: static;
    left: 160px;  
}

#pagetitle {
    font-family: 'Libre Baskerville', serif;
    font-size: 35px;
    padding-left: 160px;
    padding-top: 100px;
    padding-bottom: 50px;
    position: static;
    left: 160px; 
}



#pagetitle {
    font-family: 'Libre Baskerville', serif;
    font-size: 35px;
    padding-left: 160px;
    padding-top: 60px;
    padding-bottom: 50px;
    position: static;
    left: 160px; 
}

.heading3 {
    font-family: 'Libre Baskerville', serif;
    font-size: 25px;
    padding-left: 160px;
    position: static;
    left: 160px; 
    
}

.heading4 {
    font-family: 'Libre Baskerville', serif;
    font-size: 20px;
    padding-left: 160px;
    position: static;
    left: 160px; 
    
}

#resources_mainlinks {
    font-family: 'Hind', sans-serif;
    font-size: 25px;
    padding-left: 160px;
    padding-top: 60px;
    padding-bottom: 50px;
    position: static;
    left: 160px; 
    
    
}

#links {
   font-family: 'Hind', sans-serif;
    font-size: 20px;
    padding-left: 160px;
    // padding-top: 60px;
    // padding-bottom: 50px;
    position: static;
    left: 160px;  
    line-height: 140%;
}

#contentpara {
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    padding-left: 160px;
    padding-right: 200px;
    // padding-top: 60px;
    // padding-bottom: 50px;
    position: static;
    left: 160px;  
    line-height: 160%; 
    
}

// code for lists within paragraphs
#listpara {
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    padding-left: 160px;
    padding-right: 160px;
    // padding-top: 60px;
    // padding-bottom: 50px;
    position: static;
    left: 160px;  
    line-height: 160%; 

}
#listpara_2 {
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    // padding-left: 160px;
    // padding-right: 160px;
    // padding-top: 60px;
    // padding-bottom: 50px;
    position: static;
    left: 160px;  
    line-height: 160%; 
}

#listpara_3 {
    font-family: 'Hind', sans-serif;
    font-size: 18px;
    position: static;
    left: 160px;  
    line-height: 160%; 
}
// code for the horizontal lines
hr.style14 { 
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -moz-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

// styling for the tables 
table {
    border-collapse: collapse;
    width: 100%;
    left: 160px;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-family: 'Hind', sans-serif;
    font-size: 18px;
}

iframe {
    position: absolute;
    left: 160px;
    width: 660px;
    
    
}