// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
    padding: 60px 0;    
    width: 100%;
}

section h2 {
    margin: 0;
    font-size: 3em;
}

section.primary h2{    
    color: #2c3e50;
    }
    
section.green{
    background-color: #4CB050;
    color: #fff;
    }

section.black{
    background-color: #222222;
    color: #fff;
    }