
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
.snip1168 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.snip1168 * {
  box-sizing: border-box;
}
.snip1168 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  padding: 0;
}
.snip1168 a {
  padding: 0.5em 0;

  color: rgba(255, 255, 255, 0.5);
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.snip1168 a:before,
.snip1168 a:after {
 
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1168 a:before {
  top: 0;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #33a53c;
}
.snip1168 a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: black;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.snip1168 a:hover:before,
.snip1168 .current a:before {
  opacity: 1;
  width: 100%;
}
.snip1168 a:hover:after,
.snip1168 .current a:after {
  max-width: 100%;
}

.dropdown:hover .dropdown-menu {
    display: block;
}


/* BOOTSTRAP 3.x GLOBAL STYLES
-------------------------------------------------- */
body {
  font-family: 'helvetica neue';
  padding-bottom: 40px;
  color: #5a5a5a;
}



/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 50px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 1;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 350px;
  background-color:#7DC764;
  width: 100%;
}

.carousel img {
  position: absolute;
  top: 0;
  left: 0;
/*  min-height: 400px;*/
}

.carousellogo {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 15px;
  margin-left: 20px;
/*  min-height: 400px;*/
}



/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-left: 15px;
  padding-right: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  text-align: center;
  margin-bottom: 20px;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-left: 10px;
  margin-right: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {

  /* Remve the edge padding needed for mobile */
  .marketing {
    padding-left: 0;
    padding-right: 0;
  }

  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
    margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
  }
  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }


}
.button {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 200px;
  height:150;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;


}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}


fieldset.for-panel {
    background-color: white;
  border: 1px solid #999;
  border-radius: 4px; 
  padding:15px 10px;
  background-color: white;
    border-color: white;
  background-color: white;
  margin-bottom:12px;
}
fieldset.for-panel legend {
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    color: #4381ba;
    font-size: 14px;
    font-weight: bold;
    line-height: 10px;
    margin: inherit;
    padding: 7px;
    width: auto;
  background-color: white;
  margin-bottom: 0;
}
.m{
/*  position:absolute;
  left:40px;*/
  color:#757575;
}

.lm
{
  padding-left: 10px;
}


.buttonw {
    background-color: white; /* Green */
    border: none;
    color: black;
    padding: 10px 150px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
 
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button1 {
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    position:absolute;
    left:200px;
    top: 150px;
}

.button2 {
    box-shadow: 0 8px 20px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    position:absolute;
    left:200px;

}

.m2{
  position:absolute;
  bottom:205px;
  left:30px;

}



/********************************/
/*          Media Queries       */
/********************************/




#four {
  width: 500px;
  height: 80px;
  left:94px;
  bottom:15px;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc; }

#five {
  width: 500px;
  height: 80px;
  left:94px;
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc; }



#para_debate {
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  position: absolute;
  left: 29px;
  right: 29px;
  top: 85px;
  color: #ffffff;
  line-height: 140%; }

/*
http://www.sitepoint.com/web-foundations/css3-attribute-selectors/
*/
#h5_debatename {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  left: 15px;
  bottom: 45px;
  color: #808080; }

#events {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  text-align: left;
  left: 15px;
  /*right: 15px;*/
  top: 32px; }

#event_one {
  background: #222222;
  width: 79px;
  height: 79px;
  position: absolute;
  background: #222222; }

#event_two {
  background: #222222;
  width: 79px;
  height: 79px;
  position: absolute;
  background: #222222; }

#event_date {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  color: #ffffff;
  left: 10px;
  right: 10px;
  font-size: 50px;
  top: 15px; }

#month {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  color: #ffffff;
  left: 25px;
  right: 25px;
  font-size: 12px;
  top: 50px; }

.button3 {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    padding: 8px 8px 8px 8px;
    cursor: pointer;
    width: 100%;
}

.a{
  position:absolute;
  top:100;
  color:white;
  font-size:40px;

}

.h1sm
{
  font-size: 30px;
  left:20px;
}

.h2sm
{
  font-size: 25px;
  margin: 0px;
  line-height: 120%;
}

.cm
{
  margin-top: 50px;
}

.slidem
{
  margin-bottom: 0px;
}

.h1lm
{
  margin-left: 40px;
}

.mr
{
  margin-right: -10px;
}


.r{
  font-family: "helvetica";
  font-size: 19px;
  line-height: 100%;
}

.full {
    width: 100%;
    position:fixed;    
}
.gap {
  height: 30px;
  width: 100%;
  clear: both;
  display: block;
}
.footer {
  background: #222;
  height: auto;
  padding-bottom: 30px;
  position: relative;
  width: 100%;
  border-bottom: 1px solid #CCCCCC;
  border-top: 1px solid #DDDDDD;
}
.footer p {
  margin: 0;
  color:white;
}
.footer img {
  max-width: 100%;
}
.footer h3 {
  border-bottom: 1px solid #BAC1C8;
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 40px 0 10px;
  text-transform: uppercase;
}
.footer ul {
  font-size: 13px;
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
  margin-top: 15px;
  color: #7F8C8D;
}
.footer ul li a {
  padding: 0 0 5px 0;
  display: block;
}
.footer a {
  color: #78828D
}
.supportLi h4 {
  font-size: 20px;
  font-weight: lighter;
  line-height: normal;
  margin-bottom: 0 !important;
  padding-bottom: 0;
}
.newsletter-box input#appendedInputButton {
  background: #FFFFFF;
  display: inline-block;
  float: left;
  height: 30px;
  clear: both;
  width: 100%;
}
.newsletter-box .btn {
  border: medium none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  height: 40px;
  padding: 0;
  width: 100%;
  color: #fff;
}
.newsletter-box {
  overflow: hidden;
}
.bg-gray {
  background-image: -moz-linear-gradient(center bottom, #BBBBBB 0%, #F0F0F0 100%);
  box-shadow: 0 1px 0 #B4B3B3;
}
.social li {
  background: none repeat scroll 0 0 #B5B5B5;
  border: 2px solid #B5B5B5;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  float: left;
  height: 36px;
  line-height: 36px;
  margin: 0 8px 0 0;
  padding: 0;
  text-align: center;
  width: 36px;
  transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -webkit-transition: all 0.5s ease 0s;
  -ms-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
}
.social li:hover {
  transform: scale(1.15) rotate(360deg);
  -webkit-transform: scale(1.1) rotate(360deg);
  -moz-transform: scale(1.1) rotate(360deg);
  -ms-transform: scale(1.1) rotate(360deg);
  -o-transform: scale(1.1) rotate(360deg);
}
.social li a {
  color: #EDEFF1;
}
.social li:hover {
  border: 2px solid #2c3e50;
  background: #2c3e50;
}
.social li a i {
  font-size: 16px;
  margin: 0 0 0 5px;
  color: #EDEFF1 !important;
}
.footer-bottom {
  background: #E3E3E3;
  border-top: 1px solid #DDDDDD;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-bottom p.pull-left {
  padding-top: 6px;
}







.h1sr
{
  font-size: 24px;
  position:absolute;
  left:70px
}

.re{
  text-align:right;
  color: #2fc42f;
  font-size: 15px;
  position:absolute;
  bottom:-250px;
  left:1170px;
}

.table1 table, tr, td, th {
     border: 0;
     border-color: white;
}

.top{
position:absolute;
  bottom:120px;
  font-size:40px;
  left:50px;
}
