
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        
        <ul class="nav navbar-nav">
          <li class="snip1168"><a href="/#section1">Home</a></li>
          <li class="snip1168"><a href="/debate-info">Debate</a></li>
      
          <li class="snip1168"><a href="/omunresources">Resources</a></li>
          
          <li class="dropdown snip1168" >
                                    <%= link_to 'community partners', 'community_path', { :class => 'dropdown', 'data-toggle' => 'dropdown'} %>
            <ul class="dropdown-menu">
              <li class="snip1168"><a href="/thimun_qatar">THIMUN Qatar</a></li>
              <li class="snip1168"><a href="/hela">HELA</a></li>
              <li class="snip1168"><a href="#section43">UNODC</a></li>
              <li class="snip1168"><a href="#section44">Salam Centre</a></li>
            </ul>
          </li>
          
          <li class="snip1168"><a href="/#contact">Contact Us</a></li>
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
                <% if current_user%>
                <li><a href="/users/<%=current_user.id%>"> <%= current_user.fname %></a></li>
                <li> <%= link_to 'Log out', '/logout' %></li>
                <%else%>
                <li> <%= link_to 'Sign Up', '/signup' %></li>
                <li> <%= link_to 'Log in', '/login' %></li>
                <%end%>
        </ul>
        
      </div>
    </div>
  </div>
</nav> 
