<div class="wrap" style="margin-top:50px;">
   <aside id="side-menu" class="aside" role="navigation" style="background-color:black;color:white">            
        <ul class="nav nav-list accordion">                    
          <li class="nav-header">
             <li><a href="/debate-info">DEBATE! Getting Started</a></li>
          </li>
          <hr>
          <li class="nav-header">
            <li><a href="/Assembly">General Assembly</a></li>
          </li>
          <hr>
          <li class="nav-header">
             <li><a href="/Security">Security Council</a></li>
          </li>  
          <hr>
           <li class="nav-header">
            <li><a href="/special">Special Conferences</a></li>
          </li>
          <hr>
          <li class="nav-header">
             <li><a href="/court">International Court of Justice</a></li>
          </li>
          <hr>
          <li class="nav-header">
             <li><a href="/advise">Advisory Panel Question</a></li>
          </li>
          <hr>
          <li class="nav-header">
             <li><a href="/jro-mun">jrO-MUN Debate</a></li>
          </li>
          <hr>
          <li class="nav-header">
             <li><a href="/internationalAffairs">International Affairs Dialogue</a></li>
          </li>          

          
      </ul>
  </aside>